<div class="coffee-div">
    <p class="coffee-p">If you find this page useful consider supporting me on

        <a href='https://ko-fi.com/U7U6EZ5FL' target='_blank'><img src='https://cdn.ko-fi.com/cdn/kofi5.png?v=3'
                alt='Buy Me a Coffee at ko-fi.com' />
        </a>
    </p>
</div>