<ul class="navbarSection">
    <a href="/"><img class="logo"
            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951443/achievementroadmaps/LogoFullGrey_anregf.svg"
            alt="Achievement Roadmaps Logo Icon"></a>
    <img class="hamMenu"
        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951447/achievementroadmaps/navigation-menu_eupyto.svg">
    <li><a id="home" class="current" href="/">Home</a></li>
    <li><a href="/roadmaps">Roadmaps</a></li>
    <li><a href="/site-news">Site News</a></li>
    <div class="dropdown">
        <li><a href="/about">About</a></li>
        <div class="dropdownContent">
            <li><a href="/about/contact">Contact</a></li>
        </div>
    </div>
</ul>