<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Disclaimer about images used">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css">
    <title>Disclaimer - AchievementRoadmaps.com</title>
</head>

<body>
    <nav>
        <ul class="navbarSection">
            <a href="/"><img class="logo" src="/Logo.svg" alt="Achievement Roadmaps Logo Icon"></a>
            <img class="hamMenu" src="/navigation-menu.svg">
            <li><a href="/">Home</a></li>
            <li><a href="/roadmaps">Roadmaps</a></li>
            <li><a href="/site-news">Site News</a></li>
            <div class="dropdown">
                <li><a href="/about">About</a></li>
                <div class="dropdownContent">
                    <li><a href="/about/contact">Contact</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumnPages">
                <div class="aboutGameSection">
                    <h1>Disclaimer</h1>
                    <p>www.achievementroadmaps.com do not claim ownership for the images used. All images belong to
                        their respective owners.</p>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>
    <footer>
        <ul class="footerSection">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a class="current" href="/disclaimer.html">Disclaimer</a></li>
        </ul>
    </footer>
    <script src="/main.js"></script>
</body>

</html>