<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description"
            content="Achievement roadmaps for video games on PC. The best source to achieve 100% completion rate in the shortest possible time.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/" />
        <meta property="og:title" content="Achievement Roadmaps for PC games" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Achievement roadmaps for video games on PC. The best source to achieve 100% completion rate in the shortest possible time." />
        <meta property="og:type" content="website" />

        <title>Achievement Roadmaps for PC games - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <%- include('partials/navbar') %>
    </nav>

    <section class="carouselSection">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951444/achievementroadmaps/ElderbornHQ_c5que9.webp"
            class="CarouselIMG" alt="Elderborn Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951442/achievementroadmaps/FinalExamHQ_snudkx.jpg"
            class="CarouselIMG" alt="Final Exam Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951432/achievementroadmaps/ControlHQ_pspimb.jpg"
            class="CarouselIMG" alt="Control Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951427/achievementroadmaps/ChimeraSquadHQ_j9t9ii.webp"
            class="CarouselIMG" alt="XCOM: Chimera Squad Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951431/achievementroadmaps/BroforceHQ_qwzeun.jpg"
            class="CarouselIMG" alt="Broforce Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951430/achievementroadmaps/Children-of-Morta-HQ_nbtcgn.webp"
            class="CarouselIMG" alt="Children of Morta Cover">\
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumn">
                <div class="latest">
                    <h1>Latest</h1>
                    <a href="/roadmaps/elderborn" title="Elderborn"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951439/achievementroadmaps/ElderbornSD_oomkcx.webp"
                            alt="elderborn header"></a>
                    <a href="/roadmaps/final-exam" title="Final Exam"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951443/achievementroadmaps/FinalExamSD_qw9833.webp"
                            alt="Final Exam header"></a>
                    <a href="/roadmaps/control" title="Control"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951430/achievementroadmaps/ControlSD_p71db3.jpg"
                            alt="Control header"></a>
                    <a href="/roadmaps/xcom-chimera-squad" title="XCOM: Chimera Squad"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951429/achievementroadmaps/ChimeraSquadSD_d9ormx.jpg"
                            alt="XCOM: Chimera Squad header"></a>
                    <a href="/roadmaps/broforce" title="Broforce"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951424/achievementroadmaps/BroforceSD_lsogtt.jpg"
                            alt="Broforce header"></a>
                    <a href="/roadmaps/children-of-morta" title="Children of Morta"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951425/achievementroadmaps/Children-of-Morta-SD_ethxcf.webp"
                            alt="Children of Morta header"></a>
                </div>
                <div class="upcoming">
                    <h1>Upcoming</h1>
                    <a href="" title="Metro Exodus"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951447/achievementroadmaps/MetroExodusSD_emwj2s.webp"
                            alt="Metro Exodus header"></a>
                    <a href="" title="Darksiders Genesis"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632036209/achievementroadmaps/darksidersgenesisSD_ebsycy.webp"
                            alt="Darksiders Genesis header"></a>
                </div>
                <ul class="sidebar">
                    <li><a class="subTitle" href="/roadmaps">Roadmaps<br></a><span class="subMenu"><a
                                href="/roadmaps#A">A</a> - <span class="subMenu"><a href="/roadmaps#B">B</a> - <span
                                    class="subMenu"><a href="/roadmaps#C">C</a> - <span class="subMenu"><a
                                            href="/roadmaps#D">D</a> - <span class="subMenu"><a href="/roadmaps#F">E</a>
                                            - <span class="subMenu"><a href="/roadmaps#F">F</a></span> -
                                            <span class="subMenu"><a href="/roadmaps#V">V</a></span> - <span
                                                class="subMenu"><a href="/roadmaps#X">X</a></span></li>
                    <li><a class="subTitle" href="/site-news">Site News<br> <span class="subMenu">21-03-21</span></a>
                    </li>
                    <li><a class="subTitle" href="/about">About</a></li>
                </ul>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>

    <footer>

        <%- include('partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>