<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description"
            content="Achievement roadmaps for video games on PC. The best source to achieve 100% completion rate in the shortest possible time.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/" />
        <meta property="og:title" content="Achievement Roadmaps for PC games" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Achievement roadmaps for video games on PC. The best source to achieve 100% completion rate in the shortest possible time." />
        <meta property="og:type" content="website" />

        <title>Achievement Roadmaps for PC games - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <%- include('partials/navbar') %>
    </nav>

    <section class="intro">

        <svg xmlns="http://www.w3.org/2000/svg" id="svg1" viewBox="0 0 48.807266 15.057277">
            <path id="road-shape" stroke-width=".344382" fill="#222629" stroke="#f2f2f2"
                transform="translate(-32.71 -155.16)"
                d="m55.74 154.98-2.73 15.51 3.27.01.07-1.18 1.94-.03.1 1.18 3.35-.02-2.73-15.46-3.27-.01zm1.51.78h.26l.09 1.2h-.42zm-.27 2.53.64-.01c.08.99.03 1.3.1 2.28l-.86.02zm-.17 3.77h1c.06 1 .08 1.2.16 2.11h-1.26zm-.3 3.75 1.58-.03.12 2.07-1.77.03z" />
            <path id="c12" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M44.63 160.56c.8 0 1.4-.3 1.6-.8l-1.04-.42c-.13.26-.33.36-.56.36-.3 0-.56-.18-.56-.53 0-.35.25-.53.56-.53.23 0 .43.1.56.36l1.05-.43c-.22-.5-.81-.8-1.6-.8-1.13 0-1.93.58-1.93 1.4s.8 1.4 1.92 1.4z" />
            <path id="h13" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M48.81 157.78c-.35 0-.67.09-.92.26v-1.17h-1.34v3.64h1.34v-1.26c0-.4.24-.54.51-.54.24 0 .4.13.4.46v1.34h1.35v-1.53c0-.84-.59-1.2-1.34-1.2z" />
            <path id="i14" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M51.4 157.61c.5 0 .81-.24.81-.58 0-.32-.31-.55-.8-.55-.5 0-.82.25-.82.57 0 .32.32.56.81.56zm-.67 2.9h1.35v-2.68h-1.35z" />
            <path id="e15" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M56.14 159.17c0-.91-.83-1.4-1.8-1.4-1.05 0-1.84.58-1.84 1.4 0 .8.78 1.4 1.97 1.4.65 0 1.11-.15 1.43-.44l-.7-.58c-.22.13-.39.2-.68.2-.34 0-.56-.12-.66-.32h2.27l.01-.26zm-1.78-.64c.27 0 .47.14.53.36h-1.05c.05-.22.24-.36.52-.36z" />
            <path id="v16" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="m58.86 157.83-.7 1.44-.66-1.44h-1.38l1.31 2.68h1.4l1.3-2.68z" />
            <path id="e17" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M63.72 159.17c0-.91-.82-1.4-1.79-1.4-1.05 0-1.85.58-1.85 1.4 0 .8.78 1.4 1.98 1.4.65 0 1.1-.15 1.42-.44l-.7-.58c-.22.13-.38.2-.68.2-.34 0-.56-.12-.66-.32h2.27l.01-.26zm-1.78-.64c.28 0 .47.14.53.36h-1.05c.05-.22.24-.36.52-.36z" />
            <path id="m18" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M68.46 157.78c-.44 0-.83.15-1.09.4-.22-.27-.6-.4-1.02-.4-.35 0-.68.1-.92.3v-.25h-1.28v2.68h1.35v-1.3c0-.37.18-.5.42-.5.22 0 .36.13.36.46v1.34h1.35v-1.3c0-.37.18-.5.42-.5.22 0 .37.13.37.46v1.34h1.34v-1.53c0-.84-.56-1.2-1.3-1.2z" />
            <path id="e19" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M73.88 159.17c0-.91-.83-1.4-1.8-1.4-1.05 0-1.85.58-1.85 1.4 0 .8.78 1.4 1.98 1.4.65 0 1.1-.15 1.42-.44l-.7-.58c-.22.13-.38.2-.68.2-.34 0-.56-.12-.66-.32h2.27l.02-.26zm-1.79-.64c.28 0 .47.14.53.36h-1.05c.05-.22.24-.36.52-.36z" />
            <path id="n110" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M76.56 157.78c-.38 0-.72.1-.98.31v-.26H74.3v2.68h1.35v-1.26c0-.4.23-.54.5-.54.25 0 .4.13.4.46v1.34h1.35v-1.53c0-.84-.59-1.2-1.34-1.2z" />
            <path id="t111" stroke-width=".290323" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M80.56 159.65a.64.64 0 0 1-.3.07c-.16 0-.28-.09-.28-.26v-.67h.67v-.81h-.67v-.76h-1.35v.76h-.44v.8h.44v.7c0 .73.53 1.08 1.43 1.08.31 0 .62-.04.83-.14z" />
            <path id="o22" stroke-width=".324268" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M53.93 164.83c1.1 0 1.88-.68 1.88-1.64 0-.97-.78-1.64-1.88-1.64-1.1 0-1.88.67-1.88 1.64 0 .96.79 1.64 1.88 1.64zm0-1.02c-.3 0-.52-.21-.52-.62 0-.42.23-.62.52-.62.3 0 .53.2.53.62 0 .4-.23.62-.53.62z" />
            <path id="a23" stroke-width=".324268" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M57.6 161.55c-.51 0-1.08.12-1.46.35l.42.87c.22-.16.54-.25.83-.25.38 0 .57.13.6.37h-.53c-1 0-1.47.34-1.47.96 0 .54.4.98 1.2.98.45 0 .75-.16.9-.47v.41h1.25v-1.7c0-1.06-.64-1.52-1.75-1.52zm-.02 2.5c-.2 0-.31-.12-.31-.26 0-.18.12-.27.4-.27H58v.22c-.07.21-.23.3-.42.3z" />
            <path id="d24" stroke-width=".324268" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M62.21 160.47v1.35c-.2-.19-.46-.27-.82-.27-.84 0-1.56.62-1.56 1.64 0 1.01.72 1.64 1.56 1.64.4 0 .7-.1.89-.32v.26h1.27v-4.3zm-.5 3.34c-.3 0-.52-.21-.52-.62 0-.42.23-.62.52-.62.3 0 .53.2.53.62 0 .4-.23.62-.53.62z" />
            <path id="m25" stroke-width=".324268" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M68.41 161.55c-.44 0-.82.17-1.08.48-.22-.33-.59-.48-1-.48-.36 0-.68.11-.92.35v-.3h-1.27v3.17h1.33v-1.54c0-.43.18-.58.42-.58.22 0 .36.15.36.54v1.58h1.33v-1.54c0-.43.19-.58.42-.58.22 0 .36.15.36.54v1.58h1.34v-1.8c0-1-.56-1.42-1.29-1.42z" />
            <path id="a26" stroke-width=".324268" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M71.72 161.55c-.5 0-1.07.12-1.45.35l.42.87c.22-.16.54-.25.83-.25.38 0 .57.13.6.37h-.53c-1 0-1.47.34-1.47.96 0 .54.4.98 1.2.98.45 0 .76-.16.9-.47v.41h1.25v-1.7c0-1.06-.64-1.52-1.75-1.52zm0 2.5c-.2 0-.32-.12-.32-.26 0-.18.12-.27.4-.27h.33v.22c-.07.21-.23.3-.41.3z" />
            <path id="p27" stroke-width=".324268" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M76.2 161.55c-.4 0-.69.1-.88.31v-.26h-1.27v4.3h1.33v-1.34c.2.18.47.27.82.27.85 0 1.56-.62 1.56-1.64s-.71-1.64-1.56-1.64zm-.32 2.26c-.3 0-.52-.2-.52-.62 0-.41.23-.62.52-.62.3 0 .53.21.53.62 0 .41-.23.62-.53.62z" />
            <path id="s28" stroke-width=".324268" fill="#222629" stroke="#f2f2f2" class="disappear"
                transform="translate(-32.71 -155.16)"
                d="M79.44 164.83c1.12 0 1.67-.5 1.67-1.07 0-1.27-1.85-.84-1.85-1.17 0-.08.1-.15.44-.15.27 0 .6.05.93.23l.36-.86a3.1 3.1 0 0 0-1.31-.26c-1.09 0-1.65.48-1.65 1.08 0 1.27 1.85.83 1.85 1.16 0 .09-.08.15-.4.15-.4 0-.83-.1-1.14-.29l-.36.87c.33.18.9.31 1.46.31z" />
            <path id="a11" stroke-width=".370128" fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="m42.4 155.4-4.2.04-5.17 8.93h3.68l1.27-2.75 1.39-.01-.47 2.74 2.85-.04zm-2.17 1.88-.7 3.4-1.4.02 1.34-3.38z" />
            <path id="r21" stroke-width=".378777" fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="m44.63 169.96 2.83-.01-.54-2.82h1.14l1.5 2.81 3.79.01-1.9-3-1.27-.55s.9-.48 1.13-.86c.2-.32.19-.72.15-1.08-.02-.3-.13-.6-.28-.89a4.38 4.38 0 0 0-2.05-1.98c-.58-.25-1.24-.34-1.88-.45-1.14-.2-3.25-.07-3.25-.07zm1.5-7.13.66.03s.56.32.81.67c.3.4.5.98.45 1.46-.04.43.08.95-.3 1.17-.18.1-1 .02-1 .02z" />
            <path id="final-shape" stroke-width=".378777" fill="#222629" stroke="#f2f2f2"
                transform="translate(-32.71 -155.16)"
                d="M58.966 158.2754c-.7889.001-1.3953.042-1.3953.042.0476.7336.037 1.4666.0914 2.1998h-.7482c.061-.7315.1048-1.4474.1573-2.1795l-4.1834.0328-5.1816 8.8398 3.6824-.004 1.2666-2.7249 1.3901-.0103-.4625 2.7166 2.849-.035a78.4353 78.4353 0 0 1 .0816-1.5374h1.5265c.0357.5292.07 1.0584.1003 1.588l2.8329-.0124-.5432-2.8107 1.1416.0005 1.5022 2.8066 3.7858.0103-1.899-3.003-1.2734-.5503s.897-.475 1.1317-.8578c.1975-.322.1855-.721.155-1.0842-.0255-.3046-.1374-.6043-.2806-.8837-.2155-.4206-.5-.8234-.8568-1.1653-.3404-.3262-.7428-.6186-1.1963-.818-.5784-.2544-1.238-.3445-1.8758-.4532-.4988-.085-1.1848-.1079-1.7984-.107zm.6816 1.7968.6547.0336s.557.3208.8113.6677c.298.4065.5015.9794.4506 1.4583-.0459.4317.0741.9553-.3018 1.1772-.1782.1052-1.005.0202-1.005.0202zm-4.7398.1189-.7013 3.3734-1.4035.008 1.3436-3.345zm1.8826 1.7936h.9834c.0566.7396.1126 1.4793.1669 2.219h-1.3291c.0555-.74.1163-1.4794.1788-2.219z" />
        </svg>




        <!-- <svg id="svg1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.81 15.06">
            <path id="a11" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2" fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M40.56 155.25l-3.47.08-4.22 7.2 3-.01 1.17-2.22h1.33l-.7 2.2 2.15.02c.32-2.42.55-4.81.74-7.27zm-1.09 1.56l-.85 2.76h-1.2l1.43-2.73z" />
            <path class="disappear" id="c12" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M43.22 162.55c.84 0 1.46-.3 1.69-.82l-1.1-.44a.65.65 0 0 1-.6.37c-.31 0-.58-.19-.58-.55 0-.36.27-.54.59-.54.24 0 .45.1.6.36l1.09-.44c-.23-.5-.85-.82-1.69-.82-1.18 0-2.02.6-2.02 1.44 0 .85.84 1.44 2.02 1.44z" />
            <path class="disappear" id="h13" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M47.62 159.67c-.37 0-.7.1-.97.28v-1.22h-1.41v3.77h1.41v-1.3c0-.42.25-.56.54-.56.25 0 .42.13.42.47v1.4h1.41v-1.6c0-.87-.61-1.24-1.4-1.24z" />
            <path class="disappear" id="i14" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M50.35 159.5c.52 0 .85-.26.85-.6 0-.34-.33-.57-.85-.57s-.86.25-.86.58c0 .33.34.59.86.59zm-.71 3h1.42v-2.78h-1.42z" />
            <path class="disappear" id="e15" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M55.33 161.1c0-.93-.87-1.43-1.88-1.43-1.11 0-1.95.6-1.95 1.44 0 .83.82 1.44 2.08 1.44.68 0 1.16-.15 1.5-.45l-.74-.6c-.23.14-.4.2-.72.2-.35 0-.59-.1-.69-.32h2.38l.02-.27zm-1.87-.65c.29 0 .5.14.55.37h-1.1c.05-.23.25-.37.55-.37z" />
            <path class="disappear" id="v16" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M58.2 159.72l-.75 1.49-.69-1.49h-1.45l1.38 2.78h1.47l1.38-2.78z" />
            <path class="disappear" id="e17" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M63.31 161.1c0-.93-.87-1.43-1.89-1.43-1.1 0-1.94.6-1.94 1.44 0 .83.81 1.44 2.08 1.44.68 0 1.16-.15 1.5-.45l-.75-.6c-.22.14-.4.2-.71.2-.35 0-.59-.1-.7-.32h2.4l.01-.27zm-1.87-.65c.28 0 .5.14.55.37h-1.1c.05-.23.25-.37.55-.37z" />
            <path class="disappear" id="m18" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M68.3 159.67c-.47 0-.87.15-1.15.42-.24-.29-.63-.42-1.07-.42-.38 0-.72.1-.97.31v-.26h-1.35v2.78h1.41v-1.36c0-.37.2-.5.45-.5.24 0 .38.13.38.47v1.4h1.42v-1.37c0-.37.2-.5.44-.5.23 0 .39.13.39.47v1.4h1.41v-1.6c0-.87-.58-1.24-1.36-1.24z" />
            <path class="disappear" id="e19" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M74 161.1c0-.93-.88-1.43-1.9-1.43-1.1 0-1.94.6-1.94 1.44 0 .83.82 1.44 2.08 1.44.68 0 1.16-.15 1.5-.45l-.75-.6c-.22.14-.4.2-.71.2-.35 0-.59-.1-.69-.32h2.38l.02-.27zm-1.88-.65c.29 0 .5.14.55.37h-1.1c.05-.23.25-.37.55-.37z" />
            <path class="disappear" id="n110" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M76.82 159.67c-.4 0-.76.1-1.03.33v-.28h-1.35v2.78h1.41v-1.3c0-.42.25-.56.54-.56.25 0 .42.13.42.47v1.4h1.42v-1.6c0-.87-.62-1.24-1.4-1.24z" />
            <path class="disappear" id="t111" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M81.03 161.6c-.1.06-.2.08-.32.08-.17 0-.3-.1-.3-.27v-.7h.7v-.84h-.7v-.77H79v.77h-.47v.84H79v.71c0 .77.55 1.13 1.5 1.13.33 0 .65-.04.87-.15z" />

            <path id="r21" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2" fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M42.12 170.12h2.02l-.7-2.27h1.3l1.16 2.27h2.93l-1.47-2.42-.99-.45s.7-.38.88-.69c.15-.26.14-.58.12-.88-.02-.24-.1-.49-.22-.71a3.54 3.54 0 0 0-1.59-1.6 5.3 5.3 0 0 0-1.45-.37c-.9-.13-2.74-.1-2.74-.1l.75 7.22zm.35-5.73h.89s.65.36.85.64c.23.33.36.74.32 1.13-.03.35-.5.96-.5.96l-.82.01z" />
            <path class="disappear" id="o22" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M49.65 167.06c1.02 0 1.74-.68 1.74-1.64 0-.97-.72-1.65-1.74-1.65s-1.75.68-1.75 1.65c0 .96.73 1.64 1.75 1.64zm0-1.02c-.28 0-.5-.21-.5-.62 0-.42.22-.63.5-.63.27 0 .48.21.48.63 0 .4-.21.62-.48.62z" />
            <path class="disappear" id="a23" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M53.05 163.77c-.47 0-1 .13-1.35.36l.4.87c.2-.16.5-.25.76-.25.35 0 .53.13.57.37h-.5c-.94 0-1.37.34-1.37.96 0 .54.37.98 1.1.98.43 0 .72-.15.86-.47v.42h1.15v-1.71c0-1.06-.59-1.53-1.62-1.53zm0 2.5c-.2 0-.3-.1-.3-.25 0-.18.11-.27.38-.27h.3v.22c-.06.21-.22.3-.39.3z" />
            <path class="disappear" id="d24" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M57.35 162.7v1.35c-.19-.19-.44-.28-.77-.28-.78 0-1.45.62-1.45 1.65 0 1.02.67 1.64 1.45 1.64.38 0 .64-.1.83-.32v.27h1.18v-4.31zm-.47 3.34c-.28 0-.49-.21-.49-.62 0-.42.21-.63.49-.63.27 0 .49.21.49.63 0 .4-.22.62-.5.62z" />
            <path class="disappear" id="m25" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M63.1 163.77c-.4 0-.76.18-1 .48-.2-.33-.55-.48-.94-.48-.32 0-.62.12-.85.36v-.3h-1.18v3.18h1.24v-1.55c0-.43.17-.58.4-.58.2 0 .33.15.33.54v1.59h1.24v-1.55c0-.43.17-.58.39-.58.2 0 .33.15.33.54v1.59h1.24v-1.82c0-1-.51-1.42-1.2-1.42z" />
            <path class="disappear" id="a26" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M66.19 163.77c-.47 0-1 .13-1.35.36l.4.87c.19-.16.5-.25.76-.25.35 0 .53.13.56.37h-.5c-.93 0-1.37.34-1.37.96 0 .54.38.98 1.12.98.42 0 .7-.15.85-.47v.42h1.15v-1.71c0-1.06-.6-1.53-1.62-1.53zm0 2.5c-.2 0-.3-.1-.3-.25 0-.18.11-.27.37-.27h.31v.22c-.07.21-.22.3-.39.3z" />
            <path class="disappear" id="p27" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M70.35 163.77c-.37 0-.64.1-.82.32v-.26h-1.18v4.3h1.24v-1.34c.18.19.43.27.76.27.79 0 1.45-.62 1.45-1.64s-.66-1.65-1.45-1.65zm-.3 2.27c-.27 0-.48-.2-.48-.62 0-.41.21-.63.49-.63.27 0 .48.22.48.63 0 .41-.21.62-.48.62z" />
            <path class="disappear" id="s28" stroke-width=".3" fill fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"="#222629" stroke="#f2f2f2"
                fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"
                d="M73.36 167.06c1.05 0 1.56-.5 1.56-1.07 0-1.27-1.73-.84-1.73-1.17 0-.08.1-.15.41-.15.25 0 .56.05.87.23l.34-.87a2.7 2.7 0 0 0-1.23-.26c-1 0-1.53.49-1.53 1.09 0 1.27 1.73.83 1.73 1.16 0 .1-.09.15-.39.15-.35 0-.76-.1-1.05-.28l-.34.86c.31.19.85.31 1.36.31z" />
            <svg id="svg2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.81 15.06">
                <path id="road-shape" stroke-width=".3" tran fill="#222629" stroke="#f2f2f2" transform="translate(-32.71 -155.16)"sform="translate(-32.71 -155.16)" fill="#222629"
                    stroke="#f2f2f2" d="M56.671811 158.72547l-3.683172 11.69394 3.188729.008.164456-.89661       
                    2.089631-.0223c.06847.68359.19581.89203.19581.89203l3.140793-.0139-3.642065-11.66581c-.307085-.0105-1.180263.003-1.454182.004zm.691193.57708h.226079l.09164.9031h-.439033zm-.173524
                    1.91217l.497865-.009c.07853.74371.100466.97987.169158
                    1.72328l-.891445.009c.05289-.63849.177628-1.25418.224422-1.72328zm-.286924
                    2.84467h1.029304c.06995.75842.119961.90888.200957
                    1.59094h-1.42647c.05579-.6989.135204-.89249.196209-1.59094zm-.273169
                    2.82587h1.554246c.07957.82677.158321.85833.218211
                    1.56521h-1.971527c.08203-.75639.109607-.87584.19907-1.56521z" />
            </svg>
        </svg> -->


    </section>
    <section class="carouselSection">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1633971850/achievementroadmaps/DarksidersGenesisHQ_kmryxz.webp"
            class="CarouselIMG" alt="Darksiders Genesis Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951444/achievementroadmaps/ElderbornHQ_c5que9.webp"
            class="CarouselIMG" alt="Elderborn Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951442/achievementroadmaps/FinalExamHQ_snudkx.jpg"
            class="CarouselIMG" alt="Final Exam Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951432/achievementroadmaps/ControlHQ_pspimb.jpg"
            class="CarouselIMG" alt="Control Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951427/achievementroadmaps/ChimeraSquadHQ_j9t9ii.webp"
            class="CarouselIMG" alt="XCOM: Chimera Squad Cover">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951431/achievementroadmaps/BroforceHQ_qwzeun.jpg"
            class="CarouselIMG" alt="Broforce Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumn">
                <div class="latest">
                    <h1>Latest</h1>
                    <a href="/roadmaps/darksiders-genesis" title="Darksiders Genesis"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632036209/achievementroadmaps/darksidersgenesisSD_ebsycy.webp"
                            alt="Darksiders Genesis header"></a>
                    <a href="/roadmaps/elderborn" title="Elderborn"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951439/achievementroadmaps/ElderbornSD_oomkcx.webp"
                            alt="elderborn header"></a>
                    <a href="/roadmaps/final-exam" title="Final Exam"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951443/achievementroadmaps/FinalExamSD_qw9833.webp"
                            alt="Final Exam header"></a>
                    <a href="/roadmaps/control" title="Control"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951430/achievementroadmaps/ControlSD_p71db3.jpg"
                            alt="Control header"></a>
                    <a href="/roadmaps/xcom-chimera-squad" title="XCOM: Chimera Squad"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951429/achievementroadmaps/ChimeraSquadSD_d9ormx.jpg"
                            alt="XCOM: Chimera Squad header"></a>
                    <a href="/roadmaps/broforce" title="Broforce"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951424/achievementroadmaps/BroforceSD_lsogtt.jpg"
                            alt="Broforce header"></a>
                </div>
                <div class="upcoming">
                    <h1>Upcoming</h1>
                    <a href="" title="Metro Exodus"><img
                            src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951447/achievementroadmaps/MetroExodusSD_emwj2s.webp"
                            alt="Metro Exodus header"></a>
                </div>
                <ul class="sidebar">
                    <li><a class="subTitle" href="/roadmaps">Roadmaps<br></a><span class="subMenu"><a
                                href="/roadmaps#A">A</a> - <span class="subMenu"><a href="/roadmaps#B">B</a> - <span
                                    class="subMenu"><a href="/roadmaps#C">C</a> - <span class="subMenu"><a
                                            href="/roadmaps#D">D</a> - <span class="subMenu"><a href="/roadmaps#F">E</a>
                                            - <span class="subMenu"><a href="/roadmaps#F">F</a></span> -
                                            <span class="subMenu"><a href="/roadmaps#V">V</a></span> - <span
                                                class="subMenu"><a href="/roadmaps#X">X</a></span></li>
                    <li><a class="subTitle" href="/site-news">Site News<br> <span class="subMenu">21-03-21</span></a>
                    </li>
                    <li><a class="subTitle" href="/about">About</a></li>
                </ul>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>

    <footer>

        <%- include('partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>