<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Privacy Policy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css">
    <title>Privacy Policy - AchievementRoadmaps.com</title>
</head>

<body>
    <nav>
        <ul class="navbarSection">
            <a href="/"><img class="logo" src="/LogoFullGrey.svg" alt="Achievement Roadmaps Logo Icon"></a>
            <img class="hamMenu" src="/navigation-menu.svg">
            <li><a href="/">Home</a></li>
            <li><a href="/roadmaps">Roadmaps</a></li>
            <li><a href="/site-news">Site News</a></li>
            <div class="dropdown">
                <li><a href="/about">About</a></li>
                <div class="dropdownContent">
                    <li><a href="/about/contact">Contact</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumnPages">
                <div class="aboutGameSection">
                    <h1>Privacy Policy</h1>
                    <p>www.achievementroadmaps.com uses google analytics. Data google analytics collect are:</p><br>
                    <ul>
                        <li>Time of visit, pages visited, and time spent on each page of the webpages</li>
                        <li>Referring site details</li>
                        <li>Type of web browser</li>
                        <li>Type of operating system</li>
                        <li>JavaScript support, screen resolution and screen color processing ability</li>
                        <li>Network location and IP address.</li>
                        <li>Clicks on videos</li>
                        <li>Clicks on links leading to external websites</li>
                        <li>Document downloads</li>
                        <li>Type of device</li>
                    </ul>
                    <br>
                    <p>www.achievementroadmaps.com do not collect or share any type of data.<br>
                        contact details: admin@achievementroadmaps.com</p>
                    </p>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>
    <footer>
        <ul class="footerSection">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/disclaimer.html">Disclaimer</a></li>
        </ul>
    </footer>
    <script src="/main.js"></script>
</body>

</html>