<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

        <meta name="description" content="Privacy Policy" />
        <meta property="og:url" content="https://www.achievementroadmaps.com/privacy-policy" />
        <meta property="og:title" content="Privacy Policy" />
        <meta property="og:site_name" content="Achievement Roadmaps" />
        <meta property="og:description" content="Privacy Policy" />
        <meta property="og:type" content="article" />

        <title>Privacy Policy - AchievementRoadmaps.com</title>
</head>

<body>

    <nav>
        <%- include('partials/navbar') %>
    </nav>

    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumnPages">
                <div class="aboutGameSection">
                    <h1>Privacy Policy</h1>
                    <p>www.achievementroadmaps.com uses google analytics. Data google analytics collect are:</p><br>
                    <ul>
                        <li>Time of visit, pages visited, and time spent on each page of the webpages</li>
                        <li>Referring site details</li>
                        <li>Type of web browser</li>
                        <li>Type of operating system</li>
                        <li>JavaScript support, screen resolution and screen color processing ability</li>
                        <li>Network location and IP address.</li>
                        <li>Clicks on videos</li>
                        <li>Clicks on links leading to external websites</li>
                        <li>Document downloads</li>
                        <li>Type of device</li>
                    </ul>
                    <br>
                    <p>www.achievementroadmaps.com do not collect or share any type of data.<br>
                        contact details: admin@achievementroadmaps.com</p>
                    </p>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>
    <footer>

        <%- include('partials/footer') %>

    </footer>
    <script src="/main.js"></script>
</body>

</html>