<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>

        <meta name="description" content="Complete Roadmaps list">
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/" />
        <meta property="og:title" content="List of video game roadmaps" />
        <meta property="og:description" content="Complete Roadmaps list" />
        <meta property="og:type" content="website" />

        <title>List of video game roadmaps - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <%- include('partials/navbar') %>
    </nav>

    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumn">
                <div class="categoryDiv">
                    <h1 id="A">A</h1>
                    <a href="/roadmaps/a-plague-tale-innocence" title="A Plague Tale: Innocence"><img
                            src="/PlaguetaleSD.png" alt="A Plague Tale: Innocence header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="A">B</h1>
                    <a href="/roadmaps/broforce" title="Broforce"><img src="/BroforceSD.jpg" alt="Broforce header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="C">C</h1>
                    <a href="/roadmaps/children-of-morta" title="Children of Morta"><img
                            src="/Children-of-Morta-SD.webp" alt="Children of Morta header"></a>
                    <a href="/roadmaps/control" title="Control"><img src="/ControlSD.jpg" alt="Control header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="D">D</h1>
                    <a href="/roadmaps/darksiders-3" title="Darksiders 3"><img src="/DS3SD.jpg"
                            alt="Darksiders 3 header"></a>
                    <a href="/roadmaps/darkwood" title="Darkwood"><img src="/DarkwoodSD.png" alt="Dakwood header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="E">E</h1>
                    <a href="/roadmaps/elderborn" title="Elderborn"><img src="/elderbornSD.webp"
                            alt="elderborn header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="F">F</h1>
                    <a href="/roadmaps/final-exam" title="Final Exam"><img src="/FinalExamSD.webp"
                            alt="Final Exam header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="V">V</h1>
                    <a href="/roadmaps/vampyr" title="Vampyr"><img src="/VampyrSD.jpg" alt="Vampyr header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="X">X</h1>
                    <a href="/roadmaps/xcom-chimera-squad" title="XCOM: Chimera Squad"><img src="/ChimeraSquadSD.jpg"
                            alt="XCOM: Chimera Squad header"></a>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>
    <footer>

        <%- include('partials/footer') %>

    </footer>
    <script src="/main.js"></script>
</body>

</html>