<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('partials/head') %>

        <meta name="description" content="Complete Roadmaps list" />
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/" />
        <meta property="og:title" content="List of video game roadmaps" />
        <meta property="og:description" content="Complete Roadmaps list" />
        <meta property="og:type" content="website" />

        <title>List of video game roadmaps - AchievementRoadmaps.com</title>
</head>

<body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
                        style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <nav>
                <%- include('partials/navbar') %>
        </nav>

        <section class="mainSection">
                <div class="middleColumnParent">
                        <div class="leftColumn"></div>
                        <div class="middleColumn-roadmaps">
                                <div class="categoryDiv">
                                        <h1 id="A">A</h1>
                                        <a href="/roadmaps/a-plague-tale-innocence"
                                                title="A Plague Tale: Innocence"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951458/achievementroadmaps/PlaguetaleHQ2_uqwt8r.png"
                                                        alt="A Plague Tale: Innocence header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="B">B</h1>
                                        <a href="/roadmaps/broforce" title="Broforce"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951424/achievementroadmaps/BroforceSD_lsogtt.jpg"
                                                        alt="Broforce header"></a>
                                        <a href="/roadmaps/bullets-per-minute" title="Bullets Per Minute"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1637857391/achievementroadmaps/BulletsPerMinuteSD_xhthlx.webp"
                                                        alt="Bullet Per Minute header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="C">C</h1>
                                        <a href="/roadmaps/children-of-morta" title="Children of Morta"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951425/achievementroadmaps/Children-of-Morta-SD_ethxcf.webp"
                                                        alt="Children of Morta header"></a>
                                        <a href="/roadmaps/control" title="Control"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951430/achievementroadmaps/ControlSD_p71db3.jpg"
                                                        alt="Control header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="D">D</h1>
                                        <a href="/roadmaps/darksiders-3" title="Darksiders 3"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951438/achievementroadmaps/DS3SD_nwzo2n.jpg"
                                                        alt="Darksiders 3 header"></a>
                                        <a href="/roadmaps/darksiders-genesis" title="Darksiders Genesis"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1632036209/achievementroadmaps/darksidersgenesisSD_ebsycy.webp"
                                                        alt="Darksiders Genesis header"></a>
                                        <a href="/roadmaps/darkwood" title="Darkwood"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951438/achievementroadmaps/DarkwoodSD_f4lmpb.png"
                                                        alt="Dakwood header"></a>
                                        <a href="/roadmaps/deaths-door" title="Death's Door"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1662824904/achievementroadmaps/DeatsDoorSD_w5ggnf.webp"
                                                        alt="Death's Door header"></a>
                                        <a href="/roadmaps/devil-may-cry-5" title="Devil May Cry 5"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1650887443/achievementroadmaps/DMCVSD_tbmfuw.webp"
                                                        alt="Devil May Cry 5 header"></a>
                                        <a href="/roadmaps/dishonored-death-of-the-outsider"
                                                title="Dishonored Death of the Outsider"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1662809388/achievementroadmaps/DishonoredDOTOSD_vj0iia.webp"
                                                        alt="Dishonored Death of the Outsider header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="E">E</h1>
                                        <a href="/roadmaps/elderborn" title="Elderborn"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951439/achievementroadmaps/ElderbornSD_oomkcx.webp"
                                                        alt="elderborn header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="F">F</h1>
                                        <a href="/roadmaps/final-exam" title="Final Exam"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951443/achievementroadmaps/FinalExamSD_qw9833.webp"
                                                        alt="Final Exam header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="M">M</h1>
                                        <a href="/roadmaps/metro-exodus" title="Metro Exodus"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951451/achievementroadmaps/MetroExodusHQ_ldn2hz.webp"
                                                        alt="Metro Exodus header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="N">N</h1>
                                        <a href="/roadmaps/nightmare-of-decay" title="Nightmare Of Decay"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1657561939/achievementroadmaps/NightmareOfDecaySD_cp6vty.webp"
                                                        alt="Nightmare Of Decay header"></a>
                                        <a href="/roadmaps/nowhere-prophet" title="Nowhere Prophet"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1635789921/achievementroadmaps/NowhereProphetSD_zyoiax.webp"
                                                        alt="Nowhere Prophet header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="R">R</h1>
                                        <a href="/roadmaps/resident-evil-3" title="Resident Evil 3"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1635789619/achievementroadmaps/ResidentEvil3SD_zqhisc.webp"
                                                        alt="Resident Evil 3 header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="S">S</h1>
                                        <a href="/roadmaps/sekiro-shadows-die-twice"
                                                title="Sekiro: Shadows Die Twice"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1642451246/achievementroadmaps/SekiroSD_gwoojg.webp"
                                                        alt="Sekiro: Shadows Die Twice header"></a>
                                        <a href="/roadmaps/shadow-warrior-2" title="Shadow Warrior 2"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1668269522/achievementroadmaps/ShadowWarrior2SD_comamk.webp"
                                                        alt="Shadow Warrior 2 header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="T">T</h1>
                                        <a href="/roadmaps/terminator-resistance" title="Terminator:Resistance"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1673729938/achievementroadmaps/TerminatorResistanceSD_mr5koz.webp"
                                                        alt="Terminator:Resistance"></a>
                                        <a href="/roadmaps/titanfall-2" title="Titanfall 2"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1642099702/achievementroadmaps/Titanfall2SD_mn9tgh.webp"
                                                        alt="Titanfall 2 header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="V">V</h1>
                                        <a href="/roadmaps/vampyr" title="Vampyr"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951456/achievementroadmaps/VampyrSD_xplrev.jpg"
                                                        alt="Vampyr header"></a>
                                </div>
                                <div class="categoryDiv">
                                        <h1 id="X">X</h1>
                                        <a href="/roadmaps/xcom-chimera-squad" title="XCOM: Chimera Squad"><img
                                                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951429/achievementroadmaps/ChimeraSquadSD_d9ormx.jpg"
                                                        alt="XCOM: Chimera Squad header"></a>
                                </div>
                        </div>
                        <div class="rightColumn"></div>
                </div>
        </section>
        <footer>

                <%- include('partials/footer') %>

        </footer>
        <script src="/main.js"></script>
</body>

</html>