<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJNEJZ02FG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QJNEJZ02FG');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WQWHH8Z');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="description" content="Complete Roadmaps list">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css">
    <title>List of video game roadmaps - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
        <ul class="navbarSection">
            <a href="/"><img class="logo" src="/LogoFullGrey.svg" alt="Achievement Roadmaps Logo Icon"></a>
            <img class="hamMenu" src="/navigation-menu.svg">
            <li><a href="/">Home</a></li>
            <li><a class="current" href="/roadmaps">Roadmaps</a></li>
            <li><a href="/site-news">Site News</a></li>
            <div class="dropdown">
                <li><a href="/about">About</a></li>
                <div class="dropdownContent">
                    <li><a href="/about/contact">Contact</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumn">
                <div class="categoryDiv">
                    <h1 id="A">A</h1>
                    <a href="/roadmaps/a-plague-tale-innocence" title="A Plague Tale: Innocence"><img
                            src="/PlaguetaleSD.png" alt="A Plague Tale: Innocence header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="A">B</h1>
                    <a href="/roadmaps/broforce" title="Broforce"><img src="/BroforceSD.jpg" alt="Broforce header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="C">C</h1>
                    <a href="/roadmaps/children-of-morta" title="Children of Morta"><img
                            src="/Children-of-Morta-SD.webp" alt="Children of Morta header"></a>
                    <a href="/roadmaps/control" title="Control"><img src="/ControlSD.jpg" alt="Control header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="D">D</h1>
                    <a href="/roadmaps/darksiders-3" title="Darksiders 3"><img src="/DS3SD.jpg"
                            alt="Darksiders 3 header"></a>
                    <a href="/roadmaps/darkwood" title="Darkwood"><img src="/DarkwoodSD.png" alt="Dakwood header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="F">F</h1>
                    <a href="/roadmaps/final-exam" title="Final Exam"><img src="/FinalExamSD.webp"
                            alt="Final Exam header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="V">V</h1>
                    <a href="/roadmaps/vampyr" title="Vampyr"><img src="/VampyrSD.jpg" alt="Vampyr header"></a>
                </div>
                <div class="categoryDiv">
                    <h1 id="X">X</h1>
                    <a href="/roadmaps/xcom-chimera-squad" title="XCOM: Chimera Squad"><img src="/ChimeraSquadSD.jpg"
                            alt="XCOM: Chimera Squad header"></a>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>
    <footer>
        <ul class="footerSection">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/disclaimer.html">Disclaimer</a></li>
        </ul>
    </footer>
    <script src="/main.js"></script>
</body>

</html>