<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

    <meta name="description" content="What is new about the website. Updates and changes." />
    <meta property="og:url" content="https://www.achievementroadmaps.com/site-news" />
    <meta property="og:title" content="Site News" />
    <meta property="og:site_name" content="Achievement Roadmaps" />
    <meta property="og:description" content="What is new about the website. Updates and changes." />
    <meta property="og:type" content="article" />

    <title>Site News - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <%- include('partials/navbar') %>
    </nav>

    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumnPages">
                <div class="aboutGameSection">
                    <h1>12 March 2022</h1>
                    <p>Now when you hover over the achievement names the description and icon is displayed.<br>
                        Added the achievements list at the bottom of the pages.</p>
                    <h1>21 March 2021</h1>
                    <p>Made some changes to the logo. Removed the red border and fixed the dimension of the image.
                    </p>
                    <h1>15 March 2021</h1>
                    <p>Added background images on individual game pages.</p>
                    <p>Now from the homepage you can jump to a specific roadmap category.</p>
                    <p>Added disclaimer page.</p>
                    <h1>16 January 2021</h1>
                    <p>The website is live!</p>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>
    <footer>

        <%- include('partials/footer') %>

    </footer>
    <script src="main.js"></script>
</body>

</html>