<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('partials/head') %>

    <meta name="description" content="Support achievementroadmaps.com.">
    <meta property="og:url" content="https://www.achievementroadmaps.com/about" />
    <meta property="og:title" content="Support" />
    <meta property="og:site_name" content="Achievement Roadmaps">
    <meta property="og:description" content="Support achievementroadmaps.com." />
    <meta property="og:type" content="article" />

    <title>Support - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('partials/navbar') %>

    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumnPages">
                <div class="aboutGameSection">
                    <img class="aboutLogo"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1635098045/achievementroadmaps/Logo_oljrzn.png"
                        alt="Achievement Roadmaps Logo Icon">
                    <h1>How to support me</h1>
                    <p>If you find useful what I do and want to help me continue, consider supporting by buying me a
                        coffee here:
                        <a href="https://ko-fi.com/vasiliszisis" target="_blank">https://ko-fi.com/vasiliszisis</a>.
                    </p>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>

    <footer>

        <%- include('partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>