@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Nunito+Sans&display=swap');

:root {
  --darkGrey: #1d2124;
  --mediumGrey: #474a4f;
  --lightGrey: #808488;
  --myWhite: #f2f2f2;
  --textWhite: #b4b4b4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  image-rendering: -webkit-optimize-contrast;
}

html,
body {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}
p {
  margin: auto;
}
/* NAVBAR START */
.section-navbar {
  min-height: 3rem;
  background-color: var(--myWhite);
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: var(--darkGrey);
  font-size: 1.5rem;
  padding: 0.1rem;
  transition: 0.2s;
}

.nav-link:where(:hover, :focus) {
  color: var(--lightGrey);
}

.nav-link.current-page {
  color: var(--lightGrey);
}

.drop-styles {
  font-size: 1.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--myWhite);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.dropdown-a {
  float: none;
  color: var(--darkGrey);
  display: block;
  text-align: left;
  transition: 0.2s;
  padding: 0.1rem;
}

.dropdown-a:where(:hover, :focus) {
  color: var(--lightGrey);
}

.dropdown:where(:hover, :focus) .dropdown-content {
  display: block;
}

.hamburger {
  display: none;
  background: transparent;
  margin-right: 1rem;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* NAVBAR END */

/* COFFEE START */
.coffee-div {
  min-height: 3rem;
  background-color: var(--myWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.coffee-p {
  color: var(--darkGrey);
  font-size: 1.1rem;
  font-weight: 600;
}

.coffee-a {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.coffee-div img {
  height: 30px;
}
/* COFFEE END */

/* INTRO START */
.intro {
  height: 47vh;
  padding: 5%;
}

#svg1 {
  position: relative;
  display: block;
  width: 80%;
  height: 90%;
  margin: auto;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
}
#road-shape {
  animation: hideShape 1s forwards 2s ease;
  -webkit-animation: hideShape 1s forwards 2s ease;
}

#a11 {
  animation: moveToCenterA 1s forwards 1s;
  -webkit-animation: moveToCenterA 1s forwards 1s;
}

#r21 {
  animation: moveToCenterR 1s forwards 1s;
  -webkit-animation: moveToCenterR 1s forwards 1s;
}

.disappear {
  animation: removeLetter 0.5s forwards 1s;
  -webkit-animation: removeLetter 0.5s forwards 1s;
}

#final-shape {
  fill: transparent;
  stroke: transparent;
  animation: appear 1s forwards 2s;
  -webkit-animation: appear 1s forwards 2s;
}

@keyframes moveToCenterA {
  from {
    transform: translate(-32.71px, -155.16px);
  }
  to {
    transform: translate(-18px, -152.25px);
  }
}
@-webkit-keyframes moveToCenterA {
  from {
    transform: translate(-32.71px, -155.16px);
    -webkit-transform: translate(-32.71px, -155.16px);
    -ms-transform: translate(-32.71px, -155.16px);
  }
  to {
    transform: translate(-18px, -152.25px);
    -webkit-transform: translate(-18px, -152.25px);
    -ms-transform: translate(-18px, -152.25px);
  }
}

@keyframes moveToCenterR {
  from {
    transform: translate(-32.71px, -155.16px);
  }
  to {
    transform: translate(-19.31px, -157.86px);
  }
}
@-webkit-keyframes moveToCenterR {
  from {
    transform: translate(-32.71px, -155.16px);
    -webkit-transform: translate(-32.71px, -155.16px);
    -ms-transform: translate(-32.71px, -155.16px);
  }
  to {
    transform: translate(-19.31px, -157.86px);
    -webkit-transform: translate(-19.31px, -157.86px);
    -ms-transform: translate(-19.31px, -157.86px);
  }
}

@keyframes removeLetter {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes removeLetter {
  to {
    opacity: 0;
  }
}

@keyframes hideShape {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hideShape {
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    fill: transparent;
    stroke: transparent;
  }
  to {
    fill: var(--darkGrey);
    stroke: var(--myWhite);
  }
}
@-webkit-keyframes appear {
  from {
    fill: transparent;
    stroke: transparent;
  }
  to {
    fill: var(--darkGrey);
    stroke: var(--myWhite);
  }
}

/* INTRO END */
/* CAROUSEL START */
.carouselSection {
  background-color: var(--darkGrey);
  background-image: url('https://res.cloudinary.com/dmdbza74n/image/upload/v1662911043/achievementroadmaps/Intro-Title_uwvbja.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 100%;
  height: 47vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.front-page h1 {
  text-align: center;
  word-spacing: 0.3rem;
  color: var(--textWhite);
  font-size: max(3vw, 1.3rem);
  text-shadow: 0px 0px 1px var(--myWhite);
  margin: 1rem;
}

/* CAROUSEL END */
/* MAIN CONTENT START */
.middleColumnParent {
  background-color: var(--darkGrey);
  display: grid;
  grid-template-columns: 20% auto 20%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;
}

.middleColumn {
  z-index: 1;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 18px 8px rgba(0, 0, 0, 0.75);
  display: flex;
  padding-bottom: 5rem;
}

.middleColumn-roadmaps {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-items: center;
  text-align: center;
  line-height: 4rem;
  padding-bottom: 5rem;
}

.middleColumn-roadmaps img {
  width: 20rem;
  max-width: 20rem;
  height: 8rem;
  max-height: 8rem;
  display: block;
}

.middleColumn img {
  width: 20rem;
  height: 8rem;
  display: block;
}

.latest {
  padding-inline: 1rem;
}

.latest h2 {
  color: var(--myWhite);
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}

.latest-div {
  margin-top: 0.2rem;
  font-weight: 600;
  color: var(--textWhite);
  display: flex;
  overflow: hidden;
  border: 3px solid var(--mediumGrey);
  transition: 0.2s;
  cursor: pointer;
}

.latest-div:where(:hover, :focus) {
  border: 3px solid var(--myWhite);
}

.latest-p p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0.5rem;
}

.view-more {
  text-align: center;
  margin-top: 3rem;
}

.view-more a {
  font-size: 1.6rem;
  color: var(--textWhite);
  font-weight: 900;
  padding: 0.3rem;
  text-decoration: underline;
  transition: 0.2s;
}

.view-more a:where(:hover, :focus) {
  color: var(--myWhite);
}

/* MAIN CONTENT END */
/* ACHIEVEMENT LIST START */
.achievement-list-section {
  background-color: var(--darkGrey);
  color: var(--textWhite);
  display: grid;
  grid-template-columns: 20% auto 20%;
  padding-bottom: 2rem;
  justify-content: center;
  color: var(--myWhite);
}

.achievement-list-section li {
  background-color: var(--mediumGrey);
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border: 0.3rem solid var(--darkGrey);
}

.list-text {
  padding-left: 0.5rem;
}

.button-container {
  background-color: var(--darkGrey);
  text-align: center;
  position: relative;
}

.achievement-button {
  width: 100%;
  padding: 1rem;
  color: var(--textWhite);
  cursor: pointer;
  background-color: var(--darkGrey);
  border: solid 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  transition: 0.4s;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.achievement-button:hover:where(:hover, :focus, :active) {
  border: solid 0.1rem var(--myWhite);
}

.achievement-ul {
  display: none;
}

.achievement-ul img {
  width: 4rem;
  height: 4rem;
}

/* ACHIEVEMENT LIST END */
/* FOOTER START */
.footerSection {
  background-color: var(--myWhite);
  height: 3rem;
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.footerSection li {
  padding: 0rem 1rem 0rem 1rem;
}

.footerSection a {
  color: var(--mediumGrey);
  font-size: 1.2rem;
  transition: 0.2s;
}

.footerSection a.current {
  color: var(--lightGrey);
  font-size: 1.5rem;
}

.footerSection a:where(:hover, :focus) {
  color: var(--lightGrey);
}
/* FOOTER END */
/* CATEGORIES START */
.categoryDiv {
  color: var(--myWhite);
}

.categoryDiv img {
  border: 1px solid var(--darkGrey);
  transition: 0.4s;
}

.categoryDiv img:where(:hover, :focus) {
  transform: perspective(50px) translateZ(5px);
  -webkit-transform: perspective(50px) translateZ(5px);
  -ms-transform: perspective(50px) translateZ(5px);
}
/* CATEGORIES END */
/* PAGES START */
.leftColumn {
  overflow: hidden;
}

.leftColumn img {
  mix-blend-mode: soft-light;
  height: 100%;
}

.rightColumn {
  overflow: hidden;
}

.rightColumn img {
  mix-blend-mode: soft-light;
  height: 100%;
}

.header {
  width: 100%;
  height: 70vh;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  -o-object-fit: fill;
}

.middleColumnPages {
  z-index: 2;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 18px 8px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  word-spacing: 0.3rem;
}

.entryTitles {
  line-height: 2rem;
  color: var(--myWhite);
  font-weight: 600;
}

.editableTitles {
  padding-left: 1rem;
  color: var(--textWhite);
  font-weight: 600;
}

.aboutGameSection {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.aboutGameSection h1,
h2,
h3,
h4 {
  color: var(--myWhite);
  font-weight: 900;
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Archivo', sans-serif;
  padding: 2rem 2rem;
}

.aboutGameSection p {
  color: var(--textWhite);
  font-weight: 600;
  max-width: 70ch;
}

.indent {
  text-indent: 2rem;
}

.aboutGameSection ul {
  padding-left: 1rem;
}

.aboutGameSection li {
  list-style-type: disc;
  color: var(--textWhite);
  font-weight: 600;
}

.aboutGameSection a {
  color: var(--textWhite);
  text-decoration: underline;
}

.aboutGameSection a:where(:hover, :focus) {
  color: var(--myWhite);
}
/* PAGES END */
/* ABOUT PAGE START */
.aboutLogo {
  display: block;
  object-fit: cover;
  -o-object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
/* ABOUT PAGE END */

/* 1060px */
@media only screen and (max-width: 66.25em) {
  .middleColumnParent,
  .achievement-list-section {
    grid-template-columns: 10% auto 10%;
  }
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  .middleColumn img {
    width: 15rem;
  }
}

/* 600px */
@media only screen and (max-width: 37.5em) {
  .intro {
    display: none;
  }
  .aboutGameSection {
    word-break: break-word;
  }
  .middleColumnParent,
  .achievement-list-section {
    grid-template-columns: 5% auto 5%;
  }
  .latest-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .middleColumn img {
    width: 100%;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 9;
  }
  .dropdown-content.active {
    display: unset;
    position: relative;
  }

  .nav-menu.active {
    left: 2%;
  }
  .nav-item {
    margin: 1rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
