.achievement {
  position: relative;
  display: inline-block;
  border: 0.1rem solid var(--mediumGrey);
  word-spacing: 0rem;
  white-space: nowrap;
  background-color: var(--mediumGrey);
  color: var(--textWhite);
}

.achievement:hover {
  border: 0.1rem solid var(--textWhite);
}

.achievement .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.achievement:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
