.achievement {
  position: relative;
  display: inline-block;
  border: 0.1rem solid var(--mediumGrey);
  word-spacing: 0rem;
  white-space: nowrap;
  background-color: var(--mediumGrey);
  color: var(--textWhite);
}

.achievement:hover,
.achievement:focus,
.achievement:active {
  border: 0.1rem solid var(--textWhite);
  cursor: pointer;
}

.achievement .tooltip-content {
  display: flex;
  white-space: normal;
  visibility: hidden;
  width: max-content;
  max-width: 350px;
  text-align: center;
  background-color: var(--darkGrey);
  border: 0.1rem solid var(--textWhite);
  color: var(--textWhite);
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.achievement:hover .tooltip-content,
.achievement:focus .tooltip-content,
.achievement:active .tooltip-content {
  visibility: visible;
  opacity: 1;
}
