.achievement {
  position: relative;
  display: inline-block;
  border: 0.1rem solid var(--mediumGrey);
  word-spacing: 0rem;
  white-space: nowrap;
  background-color: var(--mediumGrey);
  color: var(--textWhite);
}

.achievement:hover {
  border: 0.1rem solid var(--textWhite);
  cursor: pointer;
}

.tooltip-content {
  display: flex;
  white-space: normal;
  visibility: hidden;
  width: max-content;
  max-width: 350px;
  text-align: center;
  background-color: var(--darkGrey);
  border: 0.1rem solid var(--textWhite);
  color: var(--textWhite);
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-content img {
  width: 4rem;
  height: 4rem;
}

.tooltip-text {
  text-align: center;
  margin: auto;
  padding-inline: 5px;
  font-weight: normal;
}

.achievement:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}
