<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

    <meta name="description" content="About achievementroadmaps.com.">
    <meta property="og:url" content="https://www.achievementroadmaps.com/about" />
    <meta property="og:title" content="About" />
    <meta property="og:site_name" content="Achievement Roadmaps">
    <meta property="og:description" content="About achievementroadmaps.com." />
    <meta property="og:type" content="article" />

    <title>About - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <%- include('../partials/navbar') %>
    </nav>

    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumnPages">
                <div class="aboutGameSection">
                    <img class="aboutLogo"
                        src="https://res.cloudinary.com/dmdbza74n/image/upload/v1635098045/achievementroadmaps/Logo_oljrzn.png"
                        alt="Achievement Roadmaps Logo Icon">
                    <h1>About www.achievementroadmaps.com</h1>
                    <p>This website is created for anyone that aims for an 100% completion rate while not having to
                        spend an absurd amount of hours on a single game. Between work, family and other activities we
                        still want to keep video games as a hobby and get the full experience of what the developers
                        intended.<br>
                        I try to give you the information you need regarding the achievements part of the game before
                        buying the game and before starting your new game, as spoiler free as possible. I also include
                        other external helpful resources, in order to save you the time of having to search by
                        yourselves.</p>
                    <h1>Contact</h1>
                    <p>You can contact with me at: vasil.zisis@gmail.com
                    </p>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>