<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJNEJZ02FG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QJNEJZ02FG');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WQWHH8Z');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="description" content="About achievementroadmaps.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css">
    <title>About - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
        <ul class="navbarSection">
            <a href="/"><img class="logo" src="/LogoFullGrey.svg" alt="Achievement Roadmaps Logo Icon"></a>
            <img class="hamMenu" src="/navigation-menu.svg">
            <li><a href="/">Home</a></li>
            <li><a href="/roadmaps">Roadmaps</a></li>
            <li><a href="/site-news">Site News</a></li>
            <div class="dropdown">
                <li><a href="/about">About</a></li>
                <div class="dropdownContent">
                    <li><a href="/about/contact">Contact</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumnPages">
                <div class="aboutGameSection">
                    <img class="aboutLogo" src="/LogoWbGi.svg" alt="Achievement Roadmaps Logo Icon">
                    <h1>About www.achievementroadmaps.com</h1>
                    <p>This website is created for anyone that aims for an 100% completion rate while not having to
                        spend an absurd amount of hours on a single game. Between work, family and other activities we
                        still want to keep video games as a hobby and get the full experience of what the developers
                        intended.<br>
                        I try to give you the information you need regarding the achievements part of the game before
                        buying the game and before starting your new game, as spoiler free as possible. I also include
                        other external helpful resources, in order to save you the time of having to search by
                        yourselves.</p>
                    <h1>Contact</h1>
                    <p>I welcome your criticism, feedback, thoughts and recommendations:
                        admin@achievementroadmaps.com </p>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>
    <footer>
        <ul class="footerSection">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
    </footer>
    <script src="/main.js"></script>
</body>

</html>