<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description" content="Contact details.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/contact" />
        <meta property="og:title" content="About" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description" content="Contact details." />
        <meta property="og:type" content="article" />

        <title>Contact - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>
        <%- include('../partials/navbar') %>
    </nav>

    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn"></div>
            <div class="middleColumnPages">
                <div class="aboutGameSection">
                    <img class="aboutLogo" src="/LogoWbGi.svg" alt="Achievement Roadmaps Logo Icon">
                    <h1>Contact</h1>
                    <p>I welcome your criticism, feedback, thoughts and recommendations:
                        admin@achievementroadmaps.com
                    </p>
                </div>
            </div>
            <div class="rightColumn"></div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>