<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJNEJZ02FG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QJNEJZ02FG');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WQWHH8Z');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="description"
        content="A Plague Tale: Innocence achievement roadmap. Guide to efficiently achieve 100% completion.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css">
    <title>A Plague Tale: Innocence Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
        <ul class="navbarSection">
            <a href="/"><img class="logo" src="/LogoFullGrey.svg" alt="Achievement Roadmaps Logo Icon"></a>
            <img class="hamMenu" src="/navigation-menu.svg">
            <li><a href="/">Home</a></li>
            <li><a href="/roadmaps">Roadmaps</a></li>
            <li><a href="/site-news">Site News</a></li>
            <div class="dropdown">
                <li><a href="/about">About</a></li>
                <div class="dropdownContent">
                    <li><a href="/about/contact">Contact</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <section class="header">
        <img src="/PlaguetaleHQ2.png" alt="Plague Tale: Innocence Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="/PlaguetaleL.webp" alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">10 - 15 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">1</li></span>
                    <li>Extra Content required:<span class="editableTitles">None</li></span>
                    <li>Total Achievements:<span class="editableTitles">35</li></span>
                    <li>Single Player:<span class="editableTitles">35</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">None</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">There is no difficulty select
                            option</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">None, there is a chapter select option</span></li>
                    <li>Glitched:<span class="editableTitles">None</li></span>
                    <li>Grind:<span class="editableTitles">1 - <span class="achievement">Alchemist</span></li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>A Plague Tale: Innocence is a story driven game, with equal parts of puzzle solving, combat and
                        cutscences. You can choose to play the game spoiler free until the end, and then start replaying
                        chapters to unlock the achievements, or follow a guide to unlock everything in a single
                        playthrough with minor spoilers.</p>
                    <h2>First Playthrough</h2>
                    <p>You mostly need to worry about <span class="achievement">Not a toy anymore</span>, <span
                            class="achievement">Handfull of pockets</span> and <span
                            class="achievement">Alchemist</span>. Collectibes appear in your inventory so you know
                        what you are missing except from <span class="achievement">Resource sharing</span>. With
                        chapter select you do not need to play until the end of the chapter, but only until you find
                        what you are missing.</p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1987696466">Plague Tale:
                            Innocence Full Achievement Guide</a> - The only guide you need to unlock everything.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="/PlaguetaleR.webp" alt="">
            </div>
        </div>
    </section>
    <footer>
        <ul class="footerSection">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/disclaimer.html">Disclaimer</a></li>
        </ul>
    </footer>
    <script src="/main.js"></script>
</body>

</html>