<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description" content="Broforce achievement roadmap. Guide to efficiently achieve 100% completion.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/broforce" />
        <meta property="og:title" content="Broforce Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Broforce achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Broforce Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951431/achievementroadmaps/BroforceHQ_qwzeun.jpg"
            alt="Broforce Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951426/achievementroadmaps/BroforceL_pcxwod.jpg"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">10 hours (with cheatcodes)</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">3 (counting arcade more)</li></span>
                    <li>Extra Content required:<span class="editableTitles">None</li></span>
                    <li>Total Achievements:<span class="editableTitles">17</li></span>
                    <li>Single Player:<span class="editableTitles">17</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">Everything can be done with one keyboard</li>
                    </span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes, need to finish on hard
                    </li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">None, there is arcade mode where you can repeat the
                            missions</span></li>
                    <li>Glitched:<span class="editableTitles">None</li></span>
                    <li>Grind:<span class="editableTitles">None</li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>Broforce is an action platformer with interesting mechanics. Instead of controlling a single
                        avatar, you are given a new random bro every time you die or start a new mission. The game
                        is made for co-op, but it can be finished solo. When you finish the game, you cannot go back and
                        replay the missions, but instead you need go through the arcade mode, but you keep the bros you
                        have unlocked.</p>
                    <h2>First Playthrough</h2>
                    <p>First play the game on normal and if possible play in co-op, which is arguably more fun. <span
                            class="achievement">I did not want to resort to violence, but I did not have a choice</span>
                        can be done during the mission select screen at any point during the campaign. <span
                            class="achievement">Front Row Tickets To The Gun Show</span> can be done at any point during
                        the missions and if you configure the keyboard controls you can do it solo. <span
                            class="achievement">Hot Brotato</span> and <span class="achievement">You're Fired</span> are
                        the only achievements that are not bro specific. You will earn <span class="achievement">Area
                            Liberated</span> for completing the campaign. There 8 total bro specific achievements. If
                        you can keep track of them, then it would save you some time, for the arcade mode later, to
                        complete as many as you can.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>The next step is to complete the campaign on ironbro hard without dying. If you choose to use the
                        developer cheatcodes it will take 5 minuntes. If you choose to play normally then it most likely
                        take you over 9000 hours. You will earn <span class="achievement">A Very Particular Set Of
                            Skills</span>, <span class="achievement">You're the disease, I'm the cure</span>, <span
                            class="achievement">I'll give you a war you wouldn't believe</span> and <span
                            class="achievement">There Can Bro Only One</span>
                    </p>
                    <h2>Third Playthrough (Arcade Mode)</h2>
                    <p>Now what's left are the bro specific achievements. Either start a new campaing or play the
                        arcade mode, which skips the mission select screen and the cutscenes.

                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://truesteamachievements.com/game/Broforce/achievements">Broforce Achievement
                            Guide</a> - It's a complete guide that includes all the updates.<br>
                        <a href="https://drive.google.com/file/d/0B8S1cuobQTyhUkk2M3BwcW5lNXc/view">BroModv1.1.7z</a> -
                        A mode that lets you choose the bro, instead of being given a random one.<br>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1153695458">Code for skip
                            levels</a> - Developer codes that allows you to end the mission and progress to the next.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951424/achievementroadmaps/BroforceR_mkdjua.jpg"
                    alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>