<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="Bullets Per Minute achievement roadmap. Guide to efficiently achieve 100% completion.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/bullets-per-minute" />
        <meta property="og:title" content="Bullets Per Minute Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Bullets Per Minute achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Bullets Per Minute Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1637857391/achievementroadmaps/BulletsPerMinuteHQ_zdhoc2.webp"
            alt="Bullets Per Minute Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638731991/achievementroadmaps/BulletsPerMinuteL_fm5gbn.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">30+ hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">Multiple</li></span>
                    <li>Extra Content required:<span class="editableTitles">none</li></span>
                    <li>Total Achievements:<span class="editableTitles">28</li></span>
                    <li>Single Player:<span class="editableTitles">28</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">0</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">-</li></span>
                    <li>Missable:<span class="editableTitles">0</li></span>
                    <li>Glitched:<span class="editableTitles">0</li></span>
                    <li>Grind:<span class="editableTitles">0</span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>
                        Bullets Per Minute has six missions and ten characters. Only one is available at the beginning
                        and you have to unlock the rest. For 100% completion you have to finish the game with every
                        character on hard difficulty, and on hellish difficulty with a specific character. In addition
                        you have to complete the game without taking a single hit with at least two characters.<br>
                        What makes the game challenging is the roguelike elements. The rooms that spawn are random, the
                        rewards are random, the weapons, the spells and the items are random. Thus, you will need some
                        luck for a successful run. In the bright side, you can back up the save files, and that can
                        reduce the playtime significantly.<br>
                        Additionally, there are gameplay options to further ease the game's difficulty, especially if
                        you are having trouble keeping with the rythm.
                    </p>
                    <h2>First Playthrough</h2>
                    <p>
                        At the beginning you can only choose one character. I recommend playing on easy with
                        the first character until you beat the final boss, then play on hard, with the same character,
                        until you beat the final boss again. You will unlock <span class="achievement">Asgard</span>,
                        <span class="achievement">Vanaheim</span>, <span class="achievement">Svartalfheim</span>, <span
                            class="achievement">Helheim</span>, <span class="achievement">Defeated Nidhogg</span>, <span
                            class="achievement">Göll Ascending</span> and <span class="achievement">Göll - Of
                            War</span>. Another goal during your playthroughs should be unlocking Geri, Herfjötur and
                        Rún. Which means placing 100 coins in the bank, 100 coins in the well at the final chapter and
                        spending 1000 coins in the armory.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>
                        After having completed the game with Göll, you can now start playing the game with all the other
                        characters, leaving Odr and Sanngriðr for last. You can skip the easy difficulty and go straight
                        for hard. The difference is barely noticeable. Also now you can work towards getting a score of
                        700,000 for <span class="achievement">Multiplier</span>. During these playthroughs you will earn
                        <span class="achievement">Freyr Ascending</span>, <span class="achievement">Freyr - Ruler of
                            Peace</span>, <span class="achievement">Hildr Ascending</span>, <span
                            class="achievement">Hildr - Of Battle</span>, <span class="achievement">Njord
                            Ascending</span>, <span class="achievement">Njord - Ruler of the Sea</span>
                        <span class="achievement">Skuld Ascending</span>, <span class="achievement">Skuld - The
                            Debtor</span>, <span class="achievement">Geri Ascending</span>, <span
                            class="achievement">Geri - Odin's Hound</span>, <span class="achievement">Herfjötur
                            Ascending</span>, <span class="achievement">Herfjötur - The Fetter</span>, <span
                            class="achievement">Rún Ascending</span> and <span class="achievement">Rún - The
                            Mystery</span>.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>
                        Now what's left is finishing the game twice without taking a hit. Once with Odr for
                        <span class="achievement">Odr Ascending</span>, <span class="achievement">Odr - The
                            Frenzy</span> and <span class="achievement">Mastery</span>, and finally with Sanngriðr for
                        <span class="achievement">Sanngriðr Ascending</span>, <span class="achievement">Sanngriðr - The
                            Cruel</span> and <span class="achievement">Graslu - The First</span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2567258618" target="_blank">Items
                            - Cheat Sheet</a> - Steam guide for the effects of the items. There is no ingame
                        tooltip.<br>
                        <a href="https://bulletsperminute.wiki/view/Abilities" target="_blank">Abilities</a> - Wiki page
                        for the effects of the spells. Again no ingame tooltip.<br>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2230541426" target="_blank">BPM:
                            BULLETS PER MINUTE</a> - A steam guide for characters, items, rooms, bosses and gameplay
                        information.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1638731990/achievementroadmaps/BulletsPerMinuteR_bp7b3q.webp"
                    alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>