<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="Children of Morta achievement roadmap. Guide to efficiently achieve 100% completion.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/children-of-morta" />
        <meta property="og:title" content="Children of Morta Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Children of Morta achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Children of Morta Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951430/achievementroadmaps/Children-of-Morta-HQ_nbtcgn.webp"
            alt="Children of Morta Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951424/achievementroadmaps/ChildrenmortaL_qeuh00.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">25 - 30 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">1</li></span>
                    <li>Extra Content required:<span class="editableTitles">None</li></span>
                    <li>Total Achievements:<span class="editableTitles">45</li></span>
                    <li>Single Player:<span class="editableTitles">43</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">2, also can be done local with an extra controller
                    </li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">No, everything can be done on
                            normal</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">None</span></li>
                    <li>Glitched:<span class="editableTitles">None</li></span>
                    <li>Grind:<span class="editableTitles">At least 5</li>
                    </span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>Children of Morta is a narrative driven roguelike where you play a total of seven characters,
                        each with his own mechanics and playstyle. The campaign is short and the story will progress
                        even when your character dies. Most of the achievements will need grinding but are straight
                        forward and do not require you to become expert on the game.</p>
                    <h2>First Playthrough</h2>
                    <p>All the achievements can be done in the same playthrough. Since the dungeons are randomly
                        generated everytime you begin the mission, you will need a few runs to unlock the mission
                        specific achievements. Fully exploring the dungeons on every run will save you a lot of
                        post-story grinding. Nine achievements are main story related. Seven are unlocked from finishing
                        the side quests that are dungeon specific. Getting all family members to level 20 will earn you
                        four achievements. You mailnly have to worry for <span class="achievement">It runs in the
                            Family</span>, <span class="achievement">Trickster</span> and <span
                            class="achievement">Perfectionist</span> and secondly for <span class="achievement">No more
                            secrets</span>, <span class="achievement">Most Curious</span>, <span
                            class="achievement">Explorer</span>, <span class="achievement">Charming Bergson</span>,
                        <span class="achievement">Challenger</span> and <span class="achievement">Perfectionist</span>.
                        <span class="achievement">Loremaster</span> and <span class="achievement">Scavenger</span> are
                        about collectibes. Buying all the upgrades earn you another five achievements. <span
                            class="achievement">Master of the Obelisk</span>, <span class="achievement">Charming
                            Bergson</span>, <span class="achievement">Faithful</span> and <span
                            class="achievement">Geared up</span> are about dungeon items, runes, obelisks and you will
                        need luck for these.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1858553435">Achievements
                            Guide</a> - For the Scavenger achievement follow the guide below <br>
                        <a href="https://www.trueachievements.com/viewcomment.aspx?commentid=1329759">Scavenger
                            Guide</a>
                        - For the scavenger achievement
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951427/achievementroadmaps/ChildrenmortaR_ndgpp5.webp"
                    alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>