<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="Darksiders 3 achievement roadmap. Guide to efficiently achieve 100% completion.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/darksiders-3" />
        <meta property="og:title" content="Darksiders 3  Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Darksiders 3  achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Darksiders 3 Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951457/achievementroadmaps/DS3HQ2_kghn3o.png"
            alt="Darksiders 3 Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951433/achievementroadmaps/Darksiders3L_jhhc8f.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">40 - 50 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">2</li></span>
                    <li>Extra Content required:<span class="editableTitles">2 DLCs: The Crucible, Keepers of the
                            Void</li></span>
                    <li>Total Achievements:<span class="editableTitles">64</li></span>
                    <li>Single Player:<span class="editableTitles">64</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">None</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes, need to finish on
                            Apocalyptic and on NG+ called Armageddon</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">3 - <span class="achievement">A Parting Gift</span>,
                            <span class="achievement">Demon Meddler</span>, <span class="achievement">For Whom the Bell
                                Tolls</span>
                    </li></span>
                    <li>Glitched:<span class="editableTitles">None</li></span>
                    <li>Grind:<span class="editableTitles">At least 2 - <span class="achievement">Beast Mode</span>,
                            <span class="achievement">Soul Reaper</span></li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>The combat system is the most time consuming part and you need to accept the fact that dying is
                        part of the game. There is an autosave feature, you cannot manually save and when
                        you die you spawn at the nearest travel point. There is no map, but you get an on-screen marker
                        that guides you to your next objective. Parts of the world are inaccessible until you acquire
                        the relevant power, which means that you will have to revisit many areas in order to collect
                        everything necessary to unlock some of the achievements. But while progressing through the story
                        you unlock shortcuts, which makes navigating your way around the world faster. At the same time,
                        everything you collect will be used for crafting and improving your gear, and that makes
                        exploring worth the time.</p>
                    <h2>First Playthrough</h2>
                    <p>On your first playthrough you can either play on Normal or Apocalyptic and do not change the
                        difficulty middle-game. You will unlock the majority of the achievements naturally and there are
                        three missable achievements to worry about - <span class="achievement">A Parting Gift</span>,
                        <span class="achievement">Demon Meddler</span> and <span class="achievement">For Whom the Bell
                            Tolls</span>. To save yourself some time from grinding, although they are stackable, pay
                        attention to <span class="achievement">Soul Reaper</span>, <span class="achievement">Keep it
                            100!</span> and <span class="achievement">Beast Mode</span>. While progressing through the
                        story you will eventually get a point-of-no-return warning. At that point make sure you have
                        unlocked <span class="achievement">Balance in all things</span>, <span
                            class="achievement">Humanitarian</span> and <span class="achievement">Take it to the
                            Limit</span>. Lastly, if you are playing on Normal, visit The Crucible and unlock <span
                            class="achievement">"Apocalyptic!"</span> and <span class="achievement">Quite Proper</span>.
                        I do not recommend playing it on Apocalyptic, since when you die you need to start again from
                        wave 1, and the higher the wave, the higher its difficulty.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>The second playthrough should be on NG+ or a.k.a Armageddon mode. If your first playthrough was
                        on Apocalyptic, now you can change it to Normal, if not choose Apocalyptic. This is your
                        clean-up playthrough and you have to defeat the final boss in order to unlock the last available
                        achievements. That means that when you reach the point-of-no-return, make sure that you unlocked
                        everything else.</p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1581485006">Darksiders 3 - All
                            In One/Collectible Guide</a> - Video only guide on Steam with commentary.<br>
                        <a
                            href="https://video-game-guide-walkthrough.supersoluce.com/solution/darksiders-3-guide-walkthrough/">Darksiders
                            3 Guide & Walkthrough</a> - Video and text with images.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951433/achievementroadmaps/Darksiders3R_sty0hx.jpg"
                    alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>