<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="Darksiders Genesis achievement roadmap. Guide to efficiently achieve 100% completion.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/darksiders-genesis" />
        <meta property="og:title" content="Darksiders Genesis  Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Darksiders Genesis  achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Darksiders Genesis Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1633971850/achievementroadmaps/DarksidersGenesisHQ_kmryxz.webp"
            alt="Darksiders Genesis Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1633973288/achievementroadmaps/DarksidersGenesisL_qdp7tt.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">30 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">2 with chapter select + clean-up</li></span>
                    <li>Extra Content required:<span class="editableTitles">none</li></span>
                    <li>Total Achievements:<span class="editableTitles">30</li></span>
                    <li>Single Player:<span class="editableTitles">30</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">0</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes, need to unlock and finish
                            on Apocalyptic</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">0 </li></span>
                    <li>Glitched:<span class="editableTitles">0</li></span>
                    <li>Grind:<span class="editableTitles">0</li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>Darksiders Genesis is your usual top-down action RPG. There isn't really anything that
                        differentiates it from any other game of its category. The co-op is fun and makes the game much
                        easier. Every achievement can be done solo and you will not really need a partner at any point.
                        The achievements are pretty straight forward and you will need a guide for only a couple, unless
                        you are willing to spend a few extra minutes to discover them yourself. The most frustrating
                        part is the jumping puzzles that are necessary for achieving 100%.
                    </p>
                    <h2>First Playthrough</h2>
                    <p>You can change the difficulty at any time, but for your first playthrough choose normal. This way
                        you can familiarize yourself with the mechanics and the level design. As you progress through
                        the story you will unlock new powers, that allow you to access previously inaccessible areas. I
                        recommend to finish all the chapters first, then collect everything during your second
                        playthrough. Also there are secondary quests for every chapter that must be completed in order
                        to gain access to collectibes, so make sure to complete as many as you can. On this playthrough
                        you will unlock all the story achievements: <span class="achievement">Mammon</span>, <span
                            class="achievement">Belial</span>, <span class="achievement">Astarte</span>, <span
                            class="achievement">Dagon</span> and <span class="achievement">Moloch</span>.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>For your second playthrough replay all chapters again on casual, start collecting
                        everything you missed and complete the rest of the side quests. Also make sure you are buying
                        everything from Vulgrim's Shop. Learn all of Strife's Wrath abilities for <span
                            class="achievement">Master of Strife</span> and all of War's Wrath abilities
                        for <span class="achievement">Master of War</span>. Find all elemental ammo types for <span
                            class="achievement">A Bullet for All Seasons</span> and all elemental enhancements for <span
                            class="achievement">Walking Armory</span>. There are total of 11 chapter specific
                        achievements. Chapter 2: <span class="achievement">Soul Cache</span>, chapter 3: <span
                            class="achievement">Hell's Forge</span>, Chapter 4: <span class="achievement">Close the
                            Rift</span>, Chapter 5: <span class="achievement">Respect For Animals</span>, Chapter 7:
                        <span class="achievement">The Dead Court</span> and <span class="achievement">Why'd It Have to
                            Be Snakes?</span>, Chapter 11: <span class="achievement">Good Deeds</span>, Chapter 12:
                        <span class="achievement">Infested</span>, Chapter 15: <span class="achievement">Ready to
                            Blow</span> and <span class="achievement">Demolition Derby</span> and Chapter 16: <span
                            class="achievement">Blademaster</span>. After completing all the chapters you should have
                        unlocked <span class="achievement">Mint III</span> from collecting 350 boatman coins. Now at
                        Boatman's Labyrinth you need to collect all the boatman coints for <span
                            class="achievement">Garden of Forking Paths</span>, open the final trickster door in
                        Boatman's Labyrinth for <span class="achievement">Gatekeeper</span> and
                        defeat Wicked Killington for <span class="achievement">Wicked Killington</span>. For <span
                            class="achievement">Collector</span> you have to play in the Arena for any missing creature
                        cores you didn't happen to unlock from the chapters and do the jumping puzzles in Boatman's
                        Labyrinth.<br>
                        Finally play the Endless Mode in the Arena for <span class="achievement">Are You Not
                            Entertained?</span>.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>
                        For the third playthrough what's left is replaying all the chapters on Apocalyptic difficulty.
                        Completing all chapters on Apocalyptic difficulty will earn you <span class="achievement">Full
                            of Hell</span> and <span class="achievement">The Promised End</span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1966533365">Darksiders Genesis -
                            100% Achievement Guide</a> - Written guide on steam. Also provides external links.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1633973212/achievementroadmaps/DarksidersGenesisR_upwlfm.webp"
                    alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>