<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description" content="Elderborn achievement roadmap. Guide to efficiently achieve 100% completion.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/elderborn" />
        <meta property="og:title" content="Elderborn Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Elderborn achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Elderborn Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="/elderbornHQ.webp" alt="Elderborn Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="/ElderbornL.webp" alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">20 -25 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">3</li></span>
                    <li>Extra Content required:<span class="editableTitles">None</li></span>
                    <li>Total Achievements:<span class="editableTitles">27</li></span>
                    <li>Single Player:<span class="editableTitles">27</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">None</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">No</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">7</span></li>
                    <li>Glitched:<span class="editableTitles">None</li></span>
                    <li>Grind:<span class="editableTitles">None</li>
                    </span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>
                        The game can be completed in 6 - 8 hours. There are total 3 chapters, with the 3rd being the
                        shortest. There is a good variety of weapons and enemies and the environmental design adds to
                        the variety. You also gain abilities as you level up, but they don't add much
                        to the gameplay. While achievements require you to finish the game without dying or without
                        leveling up, there is no difficulty requirement, so everything can be done on the lowest
                        difficulty.
                    </p>
                    <h2>First Playthrough</h2>
                    <p>
                        You mostly need to worry about <span class="achievement">Not a toy anymore</span>, <span
                            class="achievement">Handfull of pockets</span> and <span
                            class="achievement">Alchemist</span>. Collectibes appear in your inventory so you know
                        what you are missing except from <span class="achievement">Resource sharing</span>. With
                        chapter select you do not need to play until the end of the chapter, but only until you find
                        what you are missing.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>
                        You mostly need to worry about <span class="achievement">Not a toy anymore</span>, <span
                            class="achievement">Handfull of pockets</span> and <span
                            class="achievement">Alchemist</span>. Collectibes appear in your inventory so you know
                        what you are missing except from <span class="achievement">Resource sharing</span>. With
                        chapter select you do not need to play until the end of the chapter, but only until you find
                        what you are missing.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>
                        You mostly need to worry about <span class="achievement">Not a toy anymore</span>, <span
                            class="achievement">Handfull of pockets</span> and <span
                            class="achievement">Alchemist</span>. Collectibes appear in your inventory so you know
                        what you are missing except from <span class="achievement">Resource sharing</span>. With
                        chapter select you do not need to play until the end of the chapter, but only until you find
                        what you are missing.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1996633440">Mr. Wise Guy
                            Achievement</a> - Guide for finding all codex lore entries.<br>
                        <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2541883746">No Chest Left Behind
                            Achievement (All Chest Locations)</a> - Guide for finding all chests.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="/ElderbornR.webp" alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>