<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJNEJZ02FG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QJNEJZ02FG');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WQWHH8Z');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="description" content="Control achievement roadmap. Guide to efficiently achieve 100% completion.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css">
    <title>Final Exam Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
        <ul class="navbarSection">
            <a href="/"><img class="logo" src="/LogoFullGrey.svg" alt="Achievement Roadmaps Logo Icon"></a>
            <img class="hamMenu" src="/navigation-menu.svg">
            <li><a href="/">Home</a></li>
            <li><a class="current" href="/roadmaps">Roadmaps</a></li>
            <li><a href="/site-news">Site News</a></li>
            <div class="dropdown">
                <li><a href="/about">About</a></li>
                <div class="dropdownContent">
                    <li><a href="/about/contact">Contact</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <section class="header">
        <img src="/FinalExamHQ.jpg" alt="Final Exam Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="/FinalExamL.webp" alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">15 - 20 hours (CoOp)</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">1</li></span>
                    <li>Extra Content required:<span class="editableTitles">None</li></span>
                    <li>Total Achievements:<span class="editableTitles">32</li></span>
                    <li>Single Player:<span class="editableTitles">30</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">2</li></span>
                    </span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes, need to complete all
                            missions on Rock hard mode.
                    </li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">None, you can replay missions</span></li>
                    <li>Glitched:<span class="editableTitles">None</li></span>
                    <li>Grind:<span class="editableTitles"><span class="achievement">Arsonist</span>, <span
                                class="achievement">Slaughter</span></li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>A pretty basic 2.5D side-scroller. Highly reccomended playing it with at least one more person
                        since unlocking the achievements solo is really hard. If you are going solo you need an extra
                        controller to unlock at least one CoOp achievement.</p>
                    <h2>First Playthrough</h2>
                    <p>Completing all missions on Rock Hard, finding all the cans and the weapons and earning all the
                        golden gloves will unlock 10 achievements. For the rest, the hard ones are <span
                            class="achievement">Mega terminator</span> for doing a 100,000 points combo, <span
                            class="achievement">Mega disintegration</span> for scoring 400,000 points in a single game
                        and <span class="achievement">Maniac</span> for completing a mission without taking any damage.
                        You will have to grind for <span class="achievement">Arsonist</span> and <span
                            class="achievement">Slaughter</span>. Play at least once online for <span
                            class="achievement">Fun</span> and for <span class="achievement">Cooperation</span> you will
                        need an extra controller. For <span class="achievement">Healer</span> you will need at least one
                        more person. Make sure to do <span class="achievement">Temptation</span> when you are able to
                        unlock the skills. The rest should unlock naturally.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://www.trueachievements.com/game/Final-Exam/achievements">Final Exam
                            Achievements</a> - Achievements guide.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="/FinalExamR.webp" alt="">
            </div>
        </div>
    </section>
    <footer>
        <ul class="footerSection">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/disclaimer.html">Disclaimer</a></li>
        </ul>
    </footer>
    <script src="/main.js"></script>
</body>

</html>