<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="Metro Exodus achievement roadmap. Guide to efficiently achieve 100% completion.">
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/metro-exodus" />
        <meta property="og:title" content="Metro Exodus Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps">
        <meta property="og:description"
            content="Metro Exodus achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Metro Exodus Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1630951451/achievementroadmaps/MetroExodusHQ_ldn2hz.webp"
            alt="Metro Exodus Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1641235881/achievementroadmaps/MetroExodusL_igyixb.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">60 - 80 hours</span></li>
                    <li>Minimum Playthroughs:<span class="editableTitles">3 + 2 for the DLCs</span></li>

                    <li>Extra Content required:<span class="editableTitles">2 DLCs - Sam's Story, The Two
                            Colonels</span></li>
                    <li>Total Achievements:<span class="editableTitles">68</span></li>
                    <li>Single Player:<span class="editableTitles">68</span></li>
                    <li>Multiplayer/CoOp:<span class="editableTitles"></span>0</li>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes</span></li>
                    <li>Do achievements stack?:<span class="editableTitles">Yes, except from <span
                                class="achievement">Dressed for Success</span></span></li>
                    <li>Missable:<span class="editableTitles">3 - <span class="achievement">Full Strength</span>, <span
                                class="achievement">Eternal Voyage</span>, <span class="achievement">Dressed for
                                Success</span></span></li>
                    <li>Glitched:<span class="editableTitles"><span class="achievement">Dressed for
                                Success</span></span></li>

                    <li>Grind:<span class="editableTitles">0</span></li>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>
                        Metro Exodus has six missions and ten characters. Only one is available at the beginning
                        and you have to unlock the rest. For 100% completion you have to finish the game with every
                        character on hard difficulty, and on hellish difficulty with a specific character. In addition
                        you have to complete the game without taking a single hit with at least two characters.<br>
                        What makes the game challenging is the roguelike elements. The rooms that spawn are random, the
                        rewards are random, the weapons, the spells and the items are random. Thus, you will need some
                        luck for a successful run. In the bright side, you can back up the save files, and that can
                        reduce the playtime significantly.<br>
                        Additionally, there are gameplay options to further ease the game's difficulty, especially if
                        you are having trouble keeping with the rythm.
                    </p>
                    <h2>First Playthrough</h2>
                    <p>
                        For the first playthrough I recommend going for the "Good" ending. That means going for the
                        stealth approach and avoid killing human enemies during the main mission. Choose a difficulty
                        option that feels comfortable to you. The game overall is not that hard and if you previously
                        played any of the other metro games, then this will feel very familiar.<br>
                        If you utilize the binoculars mechanic and visit all the places on the map then you will never
                        run out of crafting materials. You will unlock all the story achievements: <span
                            class="achievement">Exodus</span>, <span class="achievement">Aurora</span>, <span
                            class="achievement">Regatta</span>, <span class="achievement">Railwayman</span>, <span
                            class="achievement">Long distance passenger</span>, <span class="achievement">Lower the
                            Bridge</span>, <span class="achievement">Spoiled dinner</span>, <span
                            class="achievement">Complete road map</span>, <span class="achievement">New order</span>,
                        <span class="achievement">Gor'ko!</span>, <span class="achievement">Sword of Damocles</span> and
                        <span class="achievement">Putrification</span>. Driving the first car you encounter will earn
                        you <span class="achievement">Driver</span> and it is missable. There is a side quest you can do
                        for your crew members for <span class="achievement">Friend of the Crew</span>.<br>
                        By playing non lethal in this playthrough you will earn <span class="achievement">Duke</span>,
                        <span class="achievement">Damir</span>, <span class="achievement">Alyosha</span>, <span
                            class="achievement">Forest Child</span>, <span class="achievement">Guide</span>, <span
                            class="achievement">Full Strength</span> and <span class="achievement">Your
                            Destination</span>.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>
                        For the second playthrough you can start a New Game or a New Game Plus. In the New Game Plus,
                        any collectibles and modifications you found, will carry on the next playthrough. Although, if
                        you haven't unlocked <span class="achievement">Dressed for Success</span>, I recommend skipping
                        the New Game Plus, since it needs a fresh playthrough and you have to collect eveything in this
                        playthrough anyway. You want to go for the "Bad" ending, which means taking
                        the lethal approach, kill everyone and make "unethical" choices. Choose an easy difficulty
                        level, also reload saves and chapters to do the chapter specific achievements and farm any kills
                        if necessary.<br>
                        The achievement that needs special attention is <span class="achievement">Professional</span>
                        for making a kill with every weapon. Install a modification of each category on a single weapon
                        for <span class="achievement">Gunsmith</span>. Spend 500 chemical resources on cleaning weapons
                        for <span class="achievement">Tidyman</span>, spend 500 consumable resources on crafting for
                        <span class="achievement">Handyman</span> and find all upgrades for Artyom's suit for <span
                            class="achievement">Dressed for Success</span>.<br>
                        There are killing a number of enemies achievements: <span class="achievement">Antibiotic</span>
                        for mutants, <span class="achievement">Righteous vengeance</span> for cannibals, <span
                            class="achievement">Firebird</span> for killing a demon with fire, <span
                            class="achievement">Headhunter</span> for humans, <span class="achievement">Stand
                            back</span> for long distance and <span class="achievement">Saboteur</span> for melee.
                        Weapon specific are <span class="achievement">Silent marksman</span> for Tikhar, <span
                            class="achievement">Robin Hood</span> for the crossbow and <span
                            class="achievement">Carmaheddon</span> for the car. Kill 3 enemies using sniper scope while
                        wearing the Gas mask and using the Night Vision goggles for <span
                            class="achievement">Kaleidoscope</span>.<br>
                        For the gasmask there are <span class="achievement">Martian</span> and <span
                            class="achievement">Last Breath</span>.<br>
                        The chapter specific achievements are <span class="achievement">Fisherman</span>, <span
                            class="achievement">Roller coaster</span>, <span class="achievement">Master of the
                            Forest</span>, <span class="achievement">5 o'clock</span>, <span class="achievement">Join us
                            on air</span>, <span class="achievement">Decommunization</span> and <span
                            class="achievement">Brakeman</span>.<br>
                        Collecting all the diary pages and all the post cards with unlock <span
                            class="achievement">Librarian</span> and <span class="achievement">Old world
                            pictures</span>. Finally completing this playthrough you will unlock <span
                            class="achievement">Eternal Voyage</span>.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>
                        For the final playthrough, choose New Game Plus, the Iron Mode modification and the Ranger
                        Hardcore difficulty. The only achievement you want to focus now is <span class="achievement">Toy
                            seller</span>, which is a NG+ specific achievement. Completing this playthrough will earn
                        you <span class="achievement">Hardcore</span>, <span class="achievement">Mutation</span> and
                        <span class="achievement">Iron Mode</span>.
                    </p>
                    <h2>DLC: the two colonels</h2>
                    <p>
                        There are eight total achievements and they require at least normal difficulty. I do not
                        recommend a blind playthrough, because there is no chapter select and if you miss an achievement
                        you have to play it from the start. It is more than a couple hours long and there is plenty
                        of dialogue that is unskippable.<br>
                        Four achievements are story related and unmissable: <span class="achievement">New Year</span>,
                        <span class="achievement">Duty and conscience</span>, <span class="achievement">Father and
                            son</span> and <span class="achievement">Real Colonel</span>. <br>
                        Collect all the diary pages for <span class="achievement">The whole picture</span> and finish
                        the DLC without using medkits for <span class="achievement">It's just a scratch</span>.<br>
                        Finally <span class="achievement">Mind you, it's quite heavy!</span> and <span
                            class="achievement">Dodge master</span> are chapter specific and require certain actions.
                    </p>
                    <h2>DLC: sam's story</h2>
                    <p>
                        Similar with The Two Colonels DLC, there are eight total achievements and they require normal
                        difficulty. There is no chapter select and you have to replay the whole DLC if you miss an
                        achievement.<br>
                        Organize a documentary screening for <span class="achievement">Cinephile</span>. Set all 5 traps
                        as the Captain requests for <span class="achievement">Trapper</span>.<br>
                        Find all the Night Hunters' secret stashes for <span class="achievement">Great Owl</span>,
                        collect all harmonica melodies for <span class="achievement">Music Lover</span> and collect all
                        the upgrades for Sammy rifle and Stallion pistol for <span class="achievement">Lord of
                            War</span>.<br>
                        Finish the DLC without dying in Batwing encounters and by earning the Captain's full trust with
                        unlock <span class="achievement">The Last Hero</span>, <span
                            class="achievement">Untouchable</span> and <span class="achievement">A Man of
                            Principle</span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2483474143" target="_blank">All
                            Collectibles, Upgrades, Achievements and Morality, a Comprehensive Guide (DLC'S
                            INCLUDED)</a> - Steam guide, every achievement included with maps and notes, categorized by
                        chapter.<br>
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1641235880/achievementroadmaps/MetroExodusR_bhz2px.webp"
                    alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>