<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="Nowhere Prophet achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/nowhere-prophet" />
        <meta property="og:title" content="Nowhere Prophet Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps" />
        <meta property="og:description"
            content="Nowhere Prophet achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Nowhere Prophet Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1635789920/achievementroadmaps/NowhereProphetHQ_k160du.webp"
            alt="Nowhere Prophet Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1635791118/achievementroadmaps/NowhereProphetL_x2qk4r.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">55+ hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">Multiple</li></span>
                    <li>Extra Content required:<span class="editableTitles">none</li></span>
                    <li>Total Achievements:<span class="editableTitles">27</li></span>
                    <li>Single Player:<span class="editableTitles">27</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">0</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">No</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</li></span>
                    <li>Missable:<span class="editableTitles">0 </li></span>
                    <li>Glitched:<span class="editableTitles">0</li></span>
                    <li>Grind:<span class="editableTitles">Almost all of them</span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>
                        Nowhere Prophet is a very hard game and it requires a lot of patience. There is also some
                        randomness that adds to the difficulty of the game. You need to manage resources, take decisions
                        on random events that appear as you travel and fight enemies on basically every step you make.
                        90% of the playtime is combat and it is the hardest part of the game. It will take a lot of
                        patience and trial and error until you have formed a winning strategy.<br>
                        The majority of the achievements are grindy, but straight forward and will unlock naturally.
                        There are just a couple that are extremely challenging and will require you to become really
                        good at the game.
                    </p>
                    <h2>First Playthrough</h2>
                    <p>
                        For your first playthroughs just play on chosen and do not bother with any achievement. Your
                        focus should be: first, get familiar with the mechanics of the combat, second, memorize the
                        outcomes of the random events and third, unlock the perks of the convoys. Make your goal to
                        reach the first milestone a couple times at the very least. Do not expect to finish the campaign
                        any time soon.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>
                        After having reached the first milestone a couple times I recommend that you start playing on
                        custom game. You can unlock all achievements in this mode with a couple exceptions. Choose the
                        options that will give you the advantages you need to be able to finish the campaign. The
                        achievements that require your attention are <span class="achievement">Fatality</span> and <span
                            class="achievement">Flawless Victory</span>. Remove 25 leader cards for <span
                            class="achievement">Memento</span>, scrap 100 cards for <span class="achievement">Scrap
                            Metal</span>, destroy 50 obstacles for <span class="achievement">Bedlam</span> and rename a
                        follower for <span class="achievement">By This Name</span>. Rest should unlock naturally as you
                        try to finish the campaign. Continue until you feel comfortable to return on playing the
                        campaign mode again.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>
                        Back to the campaign mode, your goal now is to complete the campaign in 250 days or less for
                        <span class="achievement">Faster Than Light</span>, which will also unlock <span
                            class="achievement">Decrypted</span>.
                    </p>
                    <h2>Fourth Playthrough</h2>
                    <p>
                        Finally complete the daily challenge with a score of 25.000 or more for <span
                            class="achievement">Superior Pilgrim</span>.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://nowhereprophet.fandom.com/wiki/Nowhere_Prophet_Wiki" target="_blank">Nowhere
                            Prophet wiki</a> - basically all the information you need is here, as well as the results of
                        the choices you make at the location you visit
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1635791117/achievementroadmaps/NowhereProphetR_mfesje.webp"
                    alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>