<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>

        <meta name="description"
            content="Sekiro: Shadows Die Twice achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:url" content="https://www.achievementroadmaps.com/roadmaps/sekiro-shadows-die-twice" />
        <meta property="og:title" content="Sekiro: Shadows Die Twice Achievement Roadmap" />
        <meta property="og:site_name" content="Achievement Roadmaps" />
        <meta property="og:description"
            content="Sekiro: Shadows Die Twice achievement roadmap. Guide to efficiently achieve 100% completion." />
        <meta property="og:type" content="article" />

        <title>Sekiro: Shadows Die Twice Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav>

        <%- include('../partials/navbar') %>

    </nav>

    <section class="header">
        <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1642099046/achievementroadmaps/SekiroHQ_u9sv57.webp"
            alt="Sekiro: Shadows Die Twice Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1642099278/achievementroadmaps/SekiroL_fe6ayc.webp"
                    alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">80 hours</span></li>
                    <li>Minimum Playthroughs:<span class="editableTitles">4</span></li>
                    <li>Extra Content required:<span class="editableTitles">None</span></li>
                    <li>Total Achievements:<span class="editableTitles">34</span></li>
                    <li>Single Player:<span class="editableTitles">34</span></li>
                    <li>Multiplayer/CoOp:<span class="editableTitles"></span>0</li>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">There are no difficulty
                            options</span></li>
                    <li>Do achievements stack?:<span class="editableTitles">Yes</span></li>
                    <li>Missable:<span class="editableTitles">10+</span></li>
                    <li>Glitched:<span class="editableTitles">0</span></li>
                    <li>Grind:<span class="editableTitles">1 - <span class="achievement">Height of
                                Technique</span></span></li>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>
                        Sekiro: Shadows Die Twice is as hard as any other FromSoftware game, if you ever played one. It
                        will take time and a lot of patience to become comfortable with the mechanics of the game.<br>
                        The game will not waste your time with useless collectibles. The achievements are very straight
                        forward and you will not have to go out of your way. Even though you need four playthroughs to
                        unlock all of the achievements, you will have no problem speed through the game, since a huge
                        part can be skipped.
                    </p>
                    <h2>First Playthrough</h2>
                    <p>
                        For the first playthrough I recommend going for the "Immortal Severance" ending, which doesn't
                        require complicated steps. There is a choice that you have to make almost halfway through
                        the game, which will affect the ending and I suggest reading a guide on which choice to make, or
                        else the playthrough will end early and you do not want to start a NG+ playthrough without
                        gaining more experience and acquiring more skills. Focus on learning the mechanics and try to
                        visit as many locations and collect as many collectibles as you can.<br>
                        For visiting all locations you will unlock <span class="achievement tooltip">Ashina
                            Traveler<span class="tooltiptext">testtesttesttesttesttesttesttesttesttest</span></span>.
                        You will unlock <span class="achievement">Revered Blade</span>, <span
                            class="achievement">Shinobi Prosthetic</span>, <span class="achievement">Immortal
                            Severance</span> and <span class="achievement">Memorial
                            Mob</span> which are story related. For resurrecting the first time <span
                            class="achievement">Resurrection</span>. For defeating the mandatory bosses you will earn
                        <span class="achievement">Sword Saint, Isshin Ashina</span>, <span class="achievement">Gyoubu
                            Masataka Oniwa</span>, <span class="achievement">The Phantom Lady Butterfly</span>, <span
                            class="achievement">Genichiro Ashina</span>, <span class="achievement">Guardian Ape</span>,
                        <span class="achievement">Folding Screen Monkeys</span>, <span class="achievement">Great Shinobi
                            - Owl</span>, <span class="achievement">Father Surpassed</span>, <span
                            class="achievement">Corrupted Monk</span> and <span class="achievement">Gracious Gift of
                            Tears</span>. Finally <span class="achievement">Immortal Severance</span> for finishing the
                        game.
                    </p>
                    <h2>Second Playthrough</h2>
                    <p>
                        For the second playthrough you want to start a New Game Plus, and this will be the clean-up
                        playthrough, while working for the "Purification" ending. You will unlock <span
                            class="achievement">All Prosthetic Tools</span> for acquiring all Prosthetic Tools, <span
                            class="achievement">Peak Physical Strength</span> for upgrading Vitality and Posture to
                        their limit and <span class="achievement">Ultimate Healing Gourd</span> for fully upgrading the
                        "Healing Gourd".You will earn enough experience for <span class="achievement">Master of the
                            Arts</span> by getting the last skill of any tree.<br>
                        Kill the Guardian Ape at this second location for <span class="achievement">Guardian Ape
                            Immortality Severed</span> and <span class="achievement">All Ninjutsu Techniques</span>, the
                        secret boss Demon of Hatred for <span class="achievement">Demon of Hatred</span>, the Great
                        Serpent in case you missed it on your first playthrough for <span class="achievement">Great
                            Serpent</span> and <span class="achievement">Great Colored Carp</span> for doing a side
                        quest in the last location you visit. Finally you will unlock <span
                            class="achievement">Purification</span> for finishing this playthrough.
                    </p>
                    <h2>Third Playthrough</h2>
                    <p>
                        Move on to a New Game Plus and your new goal is either the "Return" ending or "Shura" ending. I
                        recommend the "Return" ending, but you can choose whichever. There are different achievements to
                        unlock for both choices<br>
                        Choosing the "Return" ending for this playthrough you can unlock <span
                            class="achievement">Master of the Prosthetic</span> for upgrading all Prosthetic Tools to
                        their limit and <span class="achievement">Height of Technique</span> for acquiring all skills.
                        Finally <span class="achievement">Dragon's Homecoming</span> for completing the playthrough.
                    </p>
                    <h2>Fourth Playthrough</h2>
                    <p>
                        For the final playthrough, what's left is either the "Shura" ending or the "Return" ending.<br>
                        During the "Shura" ending playthrough you will unlock <span class="achievement">Isshin
                            Ashina</span> for defeating the final boss, <span class="achievement">Man Without
                            Equal</span> for defeating all bosses, <span class="achievement">Shura</span> for finishing
                        the game and <span class="achievement">Sekiro</span> for unlocking all achievements.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2512153758"
                            target="_blank">Sekiro 100% Completion Guide</a> - Steam guide, a nice walkthrough for all
                        the collectibes with images and guides for all the endings.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="https://res.cloudinary.com/dmdbza74n/image/upload/v1642099279/achievementroadmaps/SekiroR_ruj3tj.webp"
                    alt="">
            </div>
        </div>
    </section>

    <footer>

        <%- include('../partials/footer') %>

    </footer>

    <script src="/main.js"></script>
</body>

</html>