<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QJNEJZ02FG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QJNEJZ02FG');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WQWHH8Z');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="description" content="Vampyr achievement roadmap. Guide to efficiently achieve 100% completion.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/main.css">
    <title>Vampyr Achievement Roadmap - AchievementRoadmaps.com</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WQWHH8Z" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
        <ul class="navbarSection">
            <a href="/"><img class="logo" src="/LogoFullGrey.svg" alt="Achievement Roadmaps Logo Icon"></a>
            <img class="hamMenu" src="/navigation-menu.svg">
            <li><a href="/">Home</a></li>
            <li><a href="/roadmaps">Roadmaps</a></li>
            <li><a href="/site-news">Site News</a></li>
            <div class="dropdown">
                <li><a href="/about">About</a></li>
                <div class="dropdownContent">
                    <li><a href="/about/contact">Contact</a></li>
                </div>
            </div>
        </ul>
    </nav>
    <section class="header">
        <img src="/VampyrHQ2.png" alt="Vampyr Cover">
    </section>
    <section class="mainSection">
        <div class="middleColumnParent">
            <div class="leftColumn">
                <img src="/VampyrL.webp" alt="">
            </div>
            <div class="middleColumnPages">
                <ul class="entryTitles">
                    <li>Time to 100%:<span class="editableTitles">40 - 50 hours</li></span>
                    <li>Minimum Playthroughs:<span class="editableTitles">1,5</li></span>
                    <li>Extra Content required:<span class="editableTitles">None</li></span>
                    <li>Total Achievements:<span class="editableTitles">28</li></span>
                    <li>Single Player:<span class="editableTitles">28</li></span>
                    <li>Multiplayer/CoOp:<span class="editableTitles">None</li></span>
                    <li>Does difficulty affect achievements?:<span class="editableTitles">Yes, achievements do not
                            unlock on story mode</li></span>
                    <li>Do achievements stack?:<span class="editableTitles">No</li></span>
                    <li>Missable:<span class="editableTitles">15</span></li>
                    <li>Glitched:<span class="editableTitles">None</li></span>
                    <li>Grind:<span class="editableTitles">None</li></span>
                </ul>
                <div class="aboutGameSection">
                    <h1>Does it worth your time?</h1>
                    <p>Vampyr is a story rich, dialog heavy game, where choices matter. You spend most of your playtime
                        talking with NPCs and the choices you have to make will affect not only their fate but also the
                        main story. These, combined with the fact that there is no manual save feature, will force you
                        to pay attention to the dialogs. The combat will get repetitive but not necessarily boring. Both
                        crafting and leveling systems are simple enough, leaving you to enjoy the atmosphere, the
                        environment and the story.</p>
                    <h2>First Playthrough</h2>
                    <p>To get most of the experience the game has to offer, for your first playthrough do not kill any
                        citizens. You aim for <span class="achievement">Merciful release</span>, <span
                            class="achievement">Hippocratic oath</span>, <span class="achievement">Not even
                            once</span>. Other achievements you can unlock are <span class="achievement">Pest
                            control</span>, <span class="achievement">Solid metal gear</span> and <span
                            class="achievement">That's better</span>. Do not worry about collectibes, since you cannot
                        find them all on this playthrough and lastly, all story achievements will unlock no matter the
                        ending.</p>
                    <h2>Second Playthrough</h2>
                    <p>For this playthrough you need to find all the collectibes, turn all districts to hostile status
                        and unlock <span class="achievement">Unlife is strange</span>. Finding all collectibes
                        will unlock <span class="achievement">The tools of the profession</span>, <span
                            class="achievement">Keep your distance</span>, <span class="achievement">Weapons of
                            choice</span>, <span class="achievement">Lore keeper</span> and <span
                            class="achievement">Bloody roots</span>. The achievements for killing everyone are
                        <span class="achievement">Just take a bite</span>, <span class="achievement">Anarchy in
                            the UK</span> and <span class="achievement">London's burning</span>. You do not need to
                        finish the game a second time to unlock all of the achievements.
                    </p>
                    <h3>Time Saving Resources</h3>
                    <p><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1409469713">100% Achievement
                            Guide (by THN)</a> - Very well organised.<br>
                        <a href="https://www.neoseeker.com/vampyr/walkthrough">Vampyr Walkthrough and Guide</a> -
                        Contains detailed information about the characters, the dialog choices and their consequences,
                        amongst other things.<br>
                        <a href="https://www.nexusmods.com/vampyr/mods/15">Save Tool</a> - Gives you the ability to
                        manually save the game.
                    </p>
                </div>
            </div>
            <div class="rightColumn">
                <img src="/VampyrR.webp" alt="">
            </div>
        </div>
    </section>
    <footer>
        <ul class="footerSection">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/disclaimer.html">Disclaimer</a></li>
        </ul>
    </footer>
    <script src="/main.js"></script>
</body>

</html>